<template>
    <div style="height: 100%; width: 100%; background-size: cover; background-attachment: fixed; background-image: url('http://dslv9ilpbe7p1.cloudfront.net/graol_UFSQmpIbWpgOlePw_store_header_image')">
        <div style="height: 30px;">
        </div>
        <v-container>
            <v-layout column class="align-center">
                <v-flex>
                    <v-card style="width: 1000px;">
                        <v-toolbar style="height: 44px;" v-if="log!=''">
                            <v-toolbar-title class="font-weight-light" style="margin-top: -22px;">
                                Выполнение: <span ref="timer"/>
                            </v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn style="margin-top: -14px;" flat @click="log=''">
                                скрыть
                            </v-btn>
                        </v-toolbar>
                        <div v-if="log!=''" class="px-3 title font-weight-light purple--text text--lighten-4"
                             v-html="this.log.split('>').join('<br/>>')"
                             style="max-height: 400px; user-select: text; overflow: auto">
                        </div>
                        <v-progress-linear class="pa-0 ma-0" color="purple"
                                           :indeterminate="isActionProcessing"></v-progress-linear>
                        <v-container class="pa-0" v-if="logged">
                            <v-toolbar>
                                <v-btn @click="startAction('refreshCounts')" flat>
                                    <v-icon>refresh</v-icon>
                                    количество
                                </v-btn>
                                <v-btn @click="startAction('refreshTrading')" flat>
                                    <v-icon>refresh</v-icon>
                                    кейсы
                                </v-btn>
                                <v-btn @click="startAction('acceptTrades')" flat>
                                    <v-icon>save_alt</v-icon>
                                    трейды
                                </v-btn>
                                <v-btn @click="startAction('refresh')" flat>
                                    <v-icon>save_alt</v-icon>
                                    со стима
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-text-field v-model="filter" class="mt-2 mr-3" label="search" solo>

                                </v-text-field>
                                <v-switch @change="stack($event)" class="mt-4" label="стаки" style="width: 60px;">

                                </v-switch>
                                <v-btn @click="refresh" fab flat>
                                    <v-icon>refresh</v-icon>
                                </v-btn>
                            </v-toolbar>
                            <v-tabs v-model="tab" color="grey darken-4" centered>
                                <v-tab key="pending">
                                    Ожидаются
                                </v-tab>
                                <v-tab key="skins">
                                    На ботах
                                </v-tab>
                                <v-tab-item key="pending">
                                    <v-data-table
                                            :headers="pendingHeaders"
                                            :items="tableSkins"
                                            :rows-per-page-items="[-1]"
                                            hide-actions
                                            no-data-text="Нет скинов"
                                            :loading="pendingSkinsLoading"
                                            :search="filter"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td>
                                                <flex-center>
                                                    <v-checkbox readonly style="height: 30px;" v-model="props.item.class.statTrak">

                                                    </v-checkbox>
                                                </flex-center>
                                            </td>
                                            <td v-click-to-copy="()=>`${props.item.class.statTrak?'StatTrak™ ':''}${props.item.class.weapon} ${props.item.class.name} ${props.item.class.exterior}`">
                                                {{ props.item.class.weapon}}
                                            </td>
                                            <td>{{ props.item.class.name}}</td>
                                            <td>{{ props.item.class.exterior}}</td>
                                            <td>{{ props.item.price}} ₽</td>
                                            <td>{{ moment(props.item.pendingStamp).fromNow() }}</td>
                                            <td v-if="stacks">{{ props.item.count}}</td>
                                        </template>
                                    </v-data-table>
                                </v-tab-item>
                                <v-tab-item key="skins">
                                    <v-data-table
                                            :headers="skinsHeaders"
                                            :items="skins"
                                            :rows-per-page-items="[-1]"
                                            hide-actions
                                            no-data-text="Нет скинов"
                                            :loading="skinsLoading"
                                            :search="filter"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td>{{ props.item.assetId}}</td>
                                            <td>
                                                <flex-center>
                                                    <v-checkbox readonly style="height: 30px;" v-model="props.item.class.statTrak">

                                                    </v-checkbox>
                                                </flex-center>
                                            </td>
                                            <td>{{ props.item.class.weapon}}</td>
                                            <td>{{ props.item.class.name}}</td>
                                            <td>{{ props.item.class.exterior}}</td>
                                            <td>{{ props.item.price}} ₽</td>
                                            <td>{{ moment( props.item.unlockStamp).fromNow()}}</td>
                                        </template>
                                    </v-data-table>
                                </v-tab-item>
                            </v-tabs>
                        </v-container>
                        <flex-center v-else>
                            <v-container>
                                <v-layout class="display-2 mb-2 font-weight-light">
                                    <flex-center>
                                        GAINCASE.COM
                                    </flex-center>
                                </v-layout>
                                <v-layout>
                                    <v-text-field v-model="adminToken" style="width: 600px;" outline
                                                  label="ключ администратора">

                                    </v-text-field>
                                </v-layout>
                                <v-layout>
                                    <flex-center>
                                        <v-btn :disabled="!canLogin" @click="login" style="margin-top: -14px;"
                                               color="success">
                                            Войти
                                        </v-btn>
                                    </flex-center>
                                </v-layout>
                            </v-container>
                        </flex-center>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import FlexCenter from "../components/FlexCenter";
    import VTextField from "vuetify/src/components/VTextField/VTextField";
    import axios from 'axios';
    import m, {Moment} from 'moment'

    @Component({
        name: "AdminPanel",
        components: {VTextField, FlexCenter},
        watch: {
            adminToken(n, o) {
                this.canLogin = n.length == 64
            }
        }
    })
    export default class AdminPanel extends Vue {
        moment = m;
        adminToken: string = "";
        logged = false;
        canLogin = false;

        log = ""
        startTime: Moment;
        link:string="";
        //link: string = this.$store.state.config.apiUrl + "/bots/8c5c04391361cbf4afd74c5ed8101ea4af881c4ee3b3df1d5b3716a19b1a834d/";
        filter = "";

        isActionProcessing = false;

        //skins
        _tab = 0;
        set tab(val) {
            console.log(val)
            this._tab = val;
        }

        get tab() {
            return this._tab
        }

        pendingSkins = [];
        tableSkins = [];
        stacks = false;
        pendingSkinsLoading: boolean = false;
        pendingHeaders = [];

        skinsHeaders = [
            {text: "AssetID", value: "assetId"},
            {text: "StatTrak", value: "stat", align:"center"},
            {text: "Оружее", value: "class.weapon"},
            {text: "Название", value: "class.name"},
            {text: "Состояние", value: "class.exterior"},
            {text: "Цена", value: "price"},
            {text: "Разблокировка", value: "unlockTime"},
        ];
        skinsLoading: boolean = false;
        skins = [];

        stack(val) {
            this.pendingHeaders = this.getPendingHeaders(val);
            this.stacks = val;
            if (val) {
                let pendings = [];

                for (let i of this.pendingSkins) {
                    let c = pendings.find(p => p.class.weapon == i.class.weapon &&
                        p.class.name == i.class.name &&
                        p.class.exterior == i.class.exterior);
                    if (c == undefined) {
                        i.count = 1;
                        pendings.push(i)
                    }
                    else {
                        c.count++;
                    }
                }
                this.tableSkins = pendings;
            } else {
                this.tableSkins = this.pendingSkins;
            }
        }

        getPendingHeaders(stacks) {
            return [
                {text: "StatTrak", value: "stat", align:"center"},
                {text: "Оружее", value: "weapon"},
                {text: "Название", value: "name"},
                {text: "Состояние", value: "exterior"},
                {text: "Цена", value: "price"},
                {text: "Возврат", value: "offerEndDateTime"},
                {text: "Количество", value: "count", class: [(stacks ? '' : 'hidden')]}
            ];
        }

        async getSkins() {
            this.skinsLoading = true;
            let res = await axios.post(this.link + "getSkins");
            for (let i of res.data.data) {
                i.unlockTime = Date.parse(i.unlockTime)
            }
            this.skinsLoading = false;
            this.skins = res.data.data;
        }

        refresh() {
            if (this._tab == 0) {
                this.getPending()
            } else {
                this.getSkins()
            }
        }

        async getPending() {
            this.pendingSkinsLoading = true;
            let res = await axios.post(this.link + "getPending");
            this.pendingSkinsLoading = res.data.data;
            this.skinsLoading = false;
            for (let i of this.pendingSkins) {
                i.offerEndDateTime = Date.parse(i.offerEndDateTime)
            }
            this.pendingSkins = res.data.data;
            this.tableSkins = res.data.data;
        }

        //actions
        async startAction(action: string) {
            this.isActionProcessing = true;
            this.log = "<br/>Выполнение действия...<br/>";

            let timer = () => setTimeout(() => {
                if (this.isActionProcessing) {
                    let elap = this.moment(this.moment.now() - this.startTime);
                    this.$refs["timer"].innerText = elap.format("mm:ss.S");
                    timer();
                }
            }, 100);
            this.startTime = this.moment(this.moment.now());
            timer();
            await axios.post(this.link + action).then(res => {
                this.log = res.data.data;
                this.isActionProcessing = false;
            }).catch(err => {
                this.log = err.toString();
                console.log(err.error);
                this.isActionProcessing = false;
                this.$store.dispatch('showNote', {
                    text: "Ошибка выполнения действия",
                    color: "error"
                })
                return;
            });
        }

        login() {
            if (this.adminToken !== "") {
                this.logged = true;
                this.link = this.$store.state.config.apiUrl + "/bots/" + this.adminToken + "/";
                this.getPending();
                this.getSkins()
            }
        }

        mounted() {
            m.locale('ru');

            this.pendingHeaders = this.getPendingHeaders(false);
        }
    }
</script>
<style>
    .hidden {
        display: none;
    }
</style>