<template>
    <flex-center>
        <span class="display-1 font-weight-thin text-xs-center">
            Столько трудились над сайтом, а про это совсем забыли 😞<br/>
            Но не преживайте, в ближайшее время тут появится соглашение, а сейчас Вы можете узнать о надежности сайта из
            <span @click="openVk" class="link">отзывов</span> или нашего <span style="color: #d55ea6; cursor: pointer" @click="$router.push({name:'faq'})" class="rainbow">великолепного ЧАВО</span>&nbsp;<br/>
        </span>
    </flex-center>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import FlexCenter from "../components/FlexCenter";

    @Component({
        name: "AgreementView",
        components: {FlexCenter}
    })
    export default class AgreementView extends Vue {
        openVk(){
            window.open('https://vk.com/topic-170028432_39031437')
        }
    }
</script>
<style scoped>

</style>