<template>
    <v-timeline style="height: 100%; width: 100%; padding-top: 20px;"
                :dense="$vuetify.breakpoint.xsOnly">
        <v-timeline-item
                color="theme"
                fill-dot
                icon="person"
                left
        >
               <span slot="opposite" class="font-weight-light display-1">
                   O нас
               </span>
            <div style="background-color: transparent" class="elevation-0">
                <v-card-title class="justify-end">
                    <h2 class="display-1 theme--text font-weight-regular">Что такое GAINCASE.COM?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-end">
                        <v-flex xs12 md10>
                            GAINCASE.COM – первый полностью прозрачный сайт в сфере открытия кейсов CS:GO
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>

        <v-timeline-item
                color="theme"
                fill-dot
                small
                left
        >
            <div class="elevation-0">
                <v-card-title class="justify-end">
                    <h2 class="display-1 mr-3 theme--text font-weight-regular">Чем мы отличаемся?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-end">
                        <v-flex xs12 md10 class="text-xs-right">
                            Мы используем полностью прозрачную систему определения результата, при которой
                            сфальсифицировать результат попросту невозможно.<br/> Мы пытались... Много пытались...
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>

        <v-timeline-item
                color="theme"
                fill-dot
                icon="school"
                right
        >
                     <span slot="opposite" class="font-weight-light display-1">
                   Первые шаги
               </span>
            <div class="elevation-0 transparent">
                <v-card-title class="justify-start">
                    <h2 class="display-1 mr-3 theme--text font-weight-regular">Что делать новичку?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-start">
                        <v-flex xs12 md10 class="text-xs-left">
                            <v-chip text-color="white" outline>
                                <v-avatar class="theme">1</v-avatar>
                                Авторизуйтесь на сайте через Steam
                            </v-chip><br/>
                            <v-chip text-color="white" outline>
                                <v-avatar class="theme">2</v-avatar>
                                Выберите слева в поле «Пополнить счёт»
                            </v-chip><br/>
                            <v-chip text-color="white" outline>
                                <v-avatar class="theme">3</v-avatar>
                                Введите сумму и следуйте инструкциям
                            </v-chip><br/>
                            <v-chip text-color="white" outline>
                                <v-avatar class="theme">4</v-avatar>
                                Откройте понравившийся кейс
                            </v-chip><br/>
                            <v-chip class="mt-4" outline color="white" >
                                <v-avatar class="theme">5</v-avatar>
                                 <span class="link" @click="scroll('truth')">Проверьте честность</span>
                            </v-chip><br/>
                            <v-chip text-color="white" style="font-size: 9pt; line-height: 16px" outline>
                                <v-avatar class="theme">6</v-avatar>
                                Cравните число результата и номер скина<br/> в списке «Что может
                                выпасть»
                            </v-chip><br/>
                            <v-chip text-color="white" outline>
                                <v-avatar class="theme">7</v-avatar>
                                 <span class="link" @click="scroll('truth')">Проверьте порядок номеров</span>
                            </v-chip>
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>

        <v-timeline-item
                color="theme"
                fill-dot
                small
                right
        >
            <div class="elevation-0 transparent">
                <v-card-title class="justify-start">
                    <h2 ref="bonus" class="display-1 mr-3 theme--text font-weight-regular">Как получить бонус?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-start">
                        <v-flex xs12 md10 class="text-xs-left">
                            Для новичков на сайте доступен бонусный баланс.
                            Он выдается сразу после Вашего первого входа на сайт и составляет 1080 рублей.
                            На эти деньги Вы можете открывать кейсы, сверять результаты, проверять сайт на окуп и т.д.
                            Скины, выбитые на бонусный баланс, нельзя выводить.
                            Если на бонусный баланс Вы выбьете скинов на 1700 рублей, то получите 15 рублей на свой реальный баланс. На эти деньги Вы можете открыть кейс и вывести полученный скин в инвентарь.
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>

        <v-timeline-item
                color="theme"
                fill-dot
                icon="done_all"
        >
                     <span slot="opposite" class="font-weight-light display-1">
                   Система рандома
               </span>
            <div class="elevation-0 transparent">
                <v-card-title class="justify-end">
                    <h2 class="display-1 mr-3 theme--text font-weight-regular">Как определяется результат?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-end">
                        <v-flex xs12 md10 class="text-xs-right">
                            Все результаты генерируются сервисом <span @click="openRandomOrg"
                                                                       class="link subheading"
                                                                       style="font-family: OCR, serif">RANDOM.ORG</span>
                            , а мы лишь отправляем выигранные предметы
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>
        <v-timeline-item
                color="theme"
                fill-dot
                small
                left
        >
            <div class="elevation-0 transparent">
                <v-card-title class="justify-end">
                    <h2 ref="truth" class="display-1 mr-3 theme--text font-weight-regular">Как проверить честность?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-end">
                        <v-flex xs12 md10 class="text-xs-right">
                            На сайте имеется таблица всех открытых кейсов, попасть туда можно через меню, раздел
                            <span class="link" @click="openSkinsTable">Таблица результатов</span>.
                            Также после открытия кейса можно кликнуть
                            <v-icon color="green">done_all</v-icon>
                            на карточке предмета, Вы окажитесь на
                            сайте <span @click="openRandomOrg"
                                        class="link subheading"
                                        style="font-family: OCR, serif">RANDOM.ORG</span>
                            <h2 class="my-2 authsucc elevation-1">Authenticity check succeeded</h2>
                            В случае успешной проверки, вы увидите данную надпись в начале страницы.
                            Так же стоит обратить внимание на номер внутри <span
                                style="background-color: #893500">The data is number ___ in a series belonging to RANDOM.ORG.</span>
                            Именно это порядкове значение гарантирует последовательность результатов.
                            <br/>А это говорит о том, что мы не можем перебирать походящие результаты.
                            <img class="my-3 attachment"
                                 src="../assets/table.png"/>

                            Вы можете убедиться в этом нажав на порядковый номер результата в <span class="link"
                                                                                                    @click="openSkinsTable">таблице</span>
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>
        <v-timeline-item
                color="theme"
                fill-dot
                icon="group"
                right
        >
                    <span slot="opposite" class="font-weight-light display-1">
                         Реферальная система
                     </span>
            <div class="elevation-0 transparent">
                <v-card-title class="justify-start">
                    <h2  class="display-1 mr-3 theme--text font-weight-regular">Как я могу заработать?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-start">
                        <v-flex xs12 md10 class="text-xs-left">
                            На сайте есть прибыльная <span class="link"
                                                           @click="openRef">реферальная система</span>
                            С помощью нее можно бесплатно открывать кейсы.
                            Сначала Вы будете получать 5% от депозитов друзей, а потом все больше и больше.
                            Чтобы пригласить друга отправьте ему свою <span class="link" @click="openRef">реферальную ссылку</span>,
                            когда Ваш друг перейдет по ней, он закрепится за Вами, и Вы получите деньги, когда
                            он пополнит счет.
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>
        <v-timeline-item
                color="theme"
                fill-dot
                small
                right
        >
            <div class="elevation-0 transparent">
                <v-card-title class="justify-start">
                    <h2 class="display-1 mr-3 theme--text font-weight-regular">Как распределены уровни?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-start">
                        <v-flex xs12 md10 class="text-xs-left">
                            Всего на сайте есть <span class="headline font-weight-thin">6</span> уровней.<br/>
                            Чтобы повысить процент, который Вы будете получать с пополнений друзей нужно приглашать как можно больше людей.
                            Каждый уровень состоит из <span class="title font-weight-thin">10</span> ступеней, соответственно Ваш процент от депозитов будет увеличиваться при каждом прохождении ступени
                            Например: Изначальный получаемый процент равен 5, если Вы приведете на сайт 5 друзей, Ваш процент увеличится до 5.2
                            <!--Следующая таблица дает исчерпывающую информацию:-->
                            <!--<table class="elevation-4 my-3 pa-2 text-xs-center attachment">
                                <tr>
                                    <td>Количество</td>
                                    <td class="pl-4">Процент</td>
                                </tr>
                                <tr>
                                    <th>0</th>
                                    <th class="pl-4">5%</th>
                                </tr>
                                <tr>
                                    <th>50</th>
                                    <th class="pl-4">7%</th>
                                </tr>
                                <tr>
                                    <th>500</th>
                                    <th class="pl-4">8%</th>
                                </tr>
                                <tr>
                                    <th>2 000</th>
                                    <th class="pl-4">11%</th>
                                </tr>
                                <tr>
                                    <th>6 000</th>
                                    <th class="pl-4">13%</th>
                                </tr>
                                <tr>
                                    <th>20 000</th>
                                    <th class="pl-4">15%</th>
                                </tr>
                            </table>-->

                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>
        <v-timeline-item
                color="theme"
                fill-dot
                icon="book"
                left
        >
            <span slot="opposite" class="font-weight-light display-1">
                   Справочник
               </span>
            <div class="elevation-0 transparent">
                <v-card-title class="justify-end">
                    <h2 class="display-1 mr-3 theme--text font-weight-regular">Что означают значки на сайте?</h2>
                </v-card-title>
                <v-container>
                    <v-layout class="justify-end">
                        <v-flex xs12 md10 class="text-xs-left">
                            <v-icon color="green" style="font-size: 21px;">
                                done_all
                            </v-icon> Служит для проверки результата на честность <br/>
                            <v-icon color="blue" style="font-size: 21px;">
                                visibility
                            </v-icon> Открывает страницу с предметом в Steam <br/>
                            <v-icon style="color:#F25151; font-size:24px;">
                                attach_money
                            </v-icon> Продает предмет сайту за 91% от цены кейса <br/>
                            <v-icon class="info--text" style="font-size:24px;">
                                attach_money
                            </v-icon> Предмет продан <br/>
                            <v-icon class="info--text" style=" font-size:24px;">
                                call_missed_outgoing
                            </v-icon> Предмет Вами получен <br/>
                            <v-icon color="orange" style="font-size: 22px;">
                                query_builder
                            </v-icon> Предмет находится в ожидании <br/>


                            <v-icon style="color:#2196F3">how_to_reg</v-icon> Получатель предмета <br/>
                            <v-icon>unarchive</v-icon> Открытый кейс <br/>
                            <v-icon >format_paint</v-icon> Название предмета <br/>
                            <v-icon style="color:teal">brightness_medium</v-icon> Состояние предмета <br/>
                            <v-icon color="blue">shopping_cart</v-icon> Цена предмета <br/>
                            <v-icon color="green">trending_up</v-icon> Отношение цены предмета к цене кейса <br/>
                            <v-icon style="color:#2196F3">card_giftcard</v-icon> Предмет был получен в бонусной игре <br/>
                            <!--<v-icon color="red">favorite</v-icon> Главный поставщик идей-->
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </v-timeline-item>
    </v-timeline>

</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import FlexCenter from "../components/FlexCenter";

    @Component({
        name: "FAQView",
        components: {FlexCenter}
    })
    export default class FAQ extends Vue {
        openRandomOrg() {
            window.open("http://random.org")
        }

        openSkinsTable() {
            this.$router.push({name: 'skinstable'});
            this.$store.state.faq = false;
        }

        openRef() {
            this.$router.push({name: 'referal'});
            this.$store.state.faq = false;
        }

        mounted(){
            if(this.$route.query['scroll']){
                setTimeout(()=>{
                    this.scroll(this.$route.query['scroll'])
                },500);

            }
        }

        scroll(ref) {
            this.$vuetify.goTo(this.$refs[ref], {duration: 800, offset: -100, easing: 'easeOutCubic'});
        }
    }
</script>
<style scoped>
    .authsucc {
        font-family: georgia, serif;
        font-weight: 400;
        color: #6f6fc4;
        text-align: center;
        border: #b24242 1px solid;
        border-radius: 8px;
    }

    .attachment {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 200px;
        color: white;
        border: #b24242 1px solid;
        border-radius: 8px;
    }
</style>