<template>
    <div class="home">
        <v-parallax v-if="$store.state.isLogged" height="360" src="images/home-parallax.jpg">
            <span v-html="$t('homeview.timetowin')" class="display-3 font-weight-light">

            </span>
        </v-parallax>
        <v-card v-else class="nologin-panel">
            <v-container class="pt-4" fluid fill-height>
                <v-layout row class="align-content-end">
                    <v-flex md12 class="hidden-xs-only"></v-flex>
                    <div style="min-width: 320px; width: 1400px;">
                        <v-container class="pa-0 pt-3" fluid>
                            <v-layout>
                                <v-flex style="height: 20px; width: 70px;">

                                </v-flex>
                                <v-flex md10 xs12>
                                    <span class="display-1 font-weight-thin">{{$t('homeview.timetowin')}}</span><br/>
                                    <span class="title font-weight-thin">{{$t('homeview.intro.a1')}}</span>
                                </v-flex>
                                <v-flex class="hidden-xs-only" md2/>
                            </v-layout>
                            <v-layout class="mt-3">
                                <v-flex style="height: 50px; width: 70px;">
                                    <v-icon style="font-size:50px; border: white 2px solid;" class="mt-2">
                                        trending_up
                                    </v-icon>
                                </v-flex>
                                <v-flex md11 xs12>
                                    <span class="display-1 font-weight-thin">{{$t('homeview.intro.b1')}}</span><br/>
                                    <span class="title font-weight-thin">{{$t('homeview.intro.b2')}}</span>
                                </v-flex>
                                <v-flex class="hidden-xs-only" md1/>
                            </v-layout>
                            <v-layout style="text-align: right" class="mt-3">
                                <v-flex class="hidden-xs-only" md1/>
                                <v-flex md11 xs12>
                                    <span class="display-1 font-weight-thin">{{$t('homeview.intro.c1')}}</span><br/>
                                    <span class="title font-weight-thin">{{$t('homeview.intro.c2.a')}}<span>RANDOM.ORG</span>{{$t('homeview.intro.c2.b')}}<span @click="$router.push({name:'faq', query:{scroll:'truth'}})"
                                                                               class="font-weight-regular link">{{$t('homeview.intro.c2.c')}}</span>{{$t('homeview.intro.c2.d')}}
                                        </span>
                                </v-flex>
                                <v-flex style="height: 50px; width: 70px;">
                                    <v-icon style="font-size:50px; border: white 2px solid;" class="mt-2">
                                        done
                                    </v-icon>
                                </v-flex>
                            </v-layout>
                            <v-layout class="mt-3">
                                <v-flex style="height: 50px; width: 70px;">
                                    <v-icon style="font-size:50px; border: white 2px solid;" class="mt-2">
                                        supervisor_account
                                    </v-icon>
                                </v-flex>
                                <v-flex md11 xs12>
                                    <span class="display-1 font-weight-thin">{{$t('homeview.intro.d1')}}</span><br/>
                                    <span class="title font-weight-thin">{{$t('homeview.intro.d2')}}</span>
                                </v-flex>
                                <v-flex class="hidden-xs-only" md1/>
                            </v-layout>
                            <v-layout style="text-align: right" class="mt-3">
                                <v-flex class="hidden-xs-only" md1/>
                                <v-flex md11 xs12>
                                    <span class="display-1 font-weight-thin">{{$t('homeview.intro.e1')}}</span><br/>
                                    <span class="title font-weight-thin">
                                           {{$t('homeview.intro.e2.a')}}<span
                                                                         class="font-weight-regular link"
                                                                         @click="$store.state.VKWidget.expand()">{{$t('homeview.intro.e2.b')}}</span>
                                             {{$t('homeview.intro.e2.c')}}
                                        </span>
                                </v-flex>
                                <v-flex style="height: 50px; width: 70px;">
                                    <v-icon style="font-size:50px; border: white 2px solid;" class="mt-2">
                                        contact_support
                                    </v-icon>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </v-layout>
            </v-container>
        </v-card>
        <v-toolbar ref="scr" class="progress-toolbar" style="height: 14px;">
            <v-progress-linear style="transition-duration: 2s" background-color="transparent"
                               :style="'background-color:'+($store.state.isCasesLoading?'transparent':'#FE5858')"
                               :indeterminate="$store.state.isCasesLoading" height="14" color="theme"
                               class="ma-0"></v-progress-linear>
        </v-toolbar>
        <v-container v-if="!$store.state.isCasesLoading">
            <v-layout justify-center row wrap>
                <v-flex v-for="c in $store.state.cases">
                    <case :caseInfo="c"/>
                </v-flex>
            </v-layout>
            <v-layout style="height: 14px;"></v-layout>
        </v-container>
        <v-toolbar v-if="!$store.state.isCasesLoading" class="theme elevation-23" style="height: 14px;"></v-toolbar>
        <v-card style="min-height: 300px; width: 100%; background-color: #292929">
            <!--{{this.$store.state.stats.online}}-->
            <v-container fluid style="max-width: 1000px;">
                <v-layout wrap row>
                    <v-flex class="mr-2 mt-3">
                        <flex-center>
                            <v-card  id="vk_groups" style="background-color: #303030; min-height: 220px; margin: 0px;">
                            </v-card>
                        </flex-center>
                    </v-flex>
                    <v-flex class="mr-2 mt-3">
                        <v-container style="width: 320px; max-width: 300px;">
                            <v-layout class="font-weight-thin display-1">
                                GAINCASE.COM
                            </v-layout>
                            <v-layout style="line-height: 17px;" class="font-weight-thin title">
                                {{$t('homeview.timetowin')}}
                            </v-layout>
                            <v-layout style="margin-top: 20px;" class="font-weight-thin subheading">
                                {{$t('homeview.madewith')}} <v-icon class="px-1" color="red" style="font-size: 18px;">favorite</v-icon> {{$t('homeview.madein')}}
                            </v-layout>
                            <v-layout class="font-weight-thin subheading">
                                ©{{new Date(Date.now()).getFullYear()}}
                            </v-layout>
                            <v-layout style="margin-top: 32px;" class="font-weight-thin title mb-2">
                                <!--{{$t('homeview.supportedpayments')}}-->
                            </v-layout>
                            <v-layout>
                                <a href="//www.free-kassa.ru/"><img height="60" src="../assets/freekassa-btn.png"></a>
                            </v-layout>
                        </v-container>
                    </v-flex>
                    <v-flex class="mr-2 mt-3">
                        <flex-center>
                            <v-container fluid class="pa-0">
                                <v-layout class="headline font-weight-thin">
                                    {{$t('homeview.openedcases')}}
                                </v-layout>
                                <v-layout class="display-1 font-weight-thin">
                                    <v-icon style="font-size: 30px;">
                                        unarchive
                                    </v-icon>
                                    <animated-number class="ml-1" :value="$store.state.liveDropSkins.length!=0?$store.state.liveDropSkins[0].serialNumber:-1"/>
                                </v-layout>
                                <v-layout style="height: 6px;">

                                </v-layout>

                                <v-layout class="headline font-weight-thin">
                                    {{$t('homeview.totalusers')}}
                                </v-layout>
                                <v-layout class="display-1 font-weight-thin">
                                    <v-icon style="font-size: 30px;">
                                        person
                                    </v-icon>
                                    <animated-number class="ml-1" :value="$store.state.stats.usersCount"/>
                                </v-layout>
                                <v-layout style="height: 6px;">

                                </v-layout>
                                <v-layout class="headline font-weight-thin">
                                    {{$t('homeview.currentonline')}}
                                </v-layout>
                                <v-layout class="display-1 font-weight-thin">
                                    <v-icon style="font-size: 30px;" class="blink" color="red">
                                        radio_button_checked
                                    </v-icon>
                                    <animated-number class="ml-1" :value="$store.state.stats.online"/>
                                </v-layout>
                            </v-container>
                        </flex-center>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
        <v-card v-if="$store.state.isCasesLoading" class="theme elevation-23" style="height: 14px;"></v-card>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Case from '../components/Case'

    import Case from '../models/Case'
    import FlexCenter from "../components/FlexCenter";
    import AnimatedNumber from "../components/AnimatedNumber";

    @Component({
        components: {
            AnimatedNumber,
            FlexCenter,
            Case
        },
    })
    export default class Home extends Vue {
        async beforeMount() {
            await this.$store.dispatch('getCasesInfo');
            if(this.$route.params["directly"]=="true"){
                setTimeout(()=>{
                    this.$vuetify.goTo(this.$refs['scr'] as Vue, {duration:800, offset:-100, easing:"easeOutCubic"});
                }, 400)
            }
            VK.Widgets.Group("vk_groups", {mode: 3, color3: 'FE5858', color1: '303030', width: "300"}, 170028432);
        }

        async mounted(){
            await this.$store.dispatch('getAccountInfo');
        }
    }
</script>

<style>
    .home {
        background-size: auto;
        height: 100%;
        background-color: #373737;
        background-repeat: repeat;
    }

    .nologin-panel{
        background-image: url('../assets/home-nologin-bg.png');
        background-size: cover;
        background-position: top
    }

    .progress-toolbar .v-toolbar__content {
        padding: 0;
        height: 14px !important;
    }
</style>
