<template>
    <div style="width: 100%;">
        <v-parallax class="hidden-xs-only" height="200" src="/images/inventory-parallax.jpg">

        </v-parallax>
        <v-container fluid class="pa-0">
            <v-layout :wrap="$vuetify.breakpoint.width<menuplaceholdershidew" style="background-color: #212121;">
                <v-flex style="width: 100%" v-if="$vuetify.breakpoint.width>menuplaceholdershidew"/>
                <v-flex v-if="isUserLoaded" xs12 style="height: 80px">
                    <flex-center>
                        <v-breadcrumbs style="width: 240px;">
                            <v-breadcrumbs-item @click.native="$router.push({path:'/'})" style="font-size: 10pt;">
                                {{$t('menu.mainpage')}}
                            </v-breadcrumbs-item>
                            <v-breadcrumbs-item disabled style="font-size: 10pt;">
                                {{this.isUserLoaded?this.user.name.toUpperCase():""}}
                            </v-breadcrumbs-item>
                        </v-breadcrumbs>
                    </flex-center>
                </v-flex>
                <v-flex xs12 style="margin-top: -20px;width: 120px; height: 120px; margin-bottom: -20px" class="ml-2">
                    <flex-center>
                        <InventoryIcon v-if="isUserLoaded" :src="user.iconUrl"
                                       :size="$vuetify.breakpoint.width<menuplaceholdershidew?80:120"/>
                    </flex-center>
                </v-flex><!--Icon-->

                <v-flex v-if="isUserLoaded" xs12>
                    <flex-center>
                        <v-btn flat>
                            {{$t('inventory.registered')}} {{this.moment(this.user.registrationDate).fromNow()}}
                        </v-btn>
                    </flex-center>
                </v-flex>

                <v-flex v-if="isUserLoaded" xs12>
                    <flex-center>
                        <v-btn @click="openSteamProfile()" flat>
                            {{$t('inventory.steamprofile')}}
                        </v-btn>
                    </flex-center>
                </v-flex>
                <v-flex v-if="isUserLoaded" xs12 >
                    <flex-center>
                        <v-btn flat>
                            {{$t('inventory.opened')}} {{pretifyOCCount()}}
                        </v-btn>
                    </flex-center>
                </v-flex>
                <v-flex v-if="isUserLoaded" xs12 >
                    <flex-center>
                        <v-menu offset-y>
                            <v-btn slot="activator" fab flat>
                                <v-icon style="font-size: 20px;">
                                    settings
                                </v-icon>
                            </v-btn>


                            <v-list>
                                <v-list-tile @click="$store.state.modals.tradelink = true">
                                    {{$t('inventory.menu.changelink')}}
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </flex-center>
                </v-flex>
                <v-flex style="width: 100%" v-if="$vuetify.breakpoint.width>menuplaceholdershidew"/>
            </v-layout>
        </v-container>
        <div :style="'min-height: '+(this.$vuetify.breakpoint.height-345)+'px'" class="skins-container">
            <div style="height: 20px"></div>

            <flex-center>
            <v-container style="max-width: 880px;">
                <v-layout style="justify-content: center" row wrap>
                    <v-flex v-if="!isChunkLoading || skins.length!==0" class="mx-1 mb-2"
                            v-for="c in skins"
                            style="flex: 0;"
                            :key="c.claimDateTime+c.offerStartDateTime"
                    >
                            <SkinCard :info="c"></SkinCard>
                    </v-flex>
                    <v-flex class="mx-1 mb-2" v-if="isChunkLoading && skins.length===0" v-for="i in 10">
                        <flex-center>
                        <v-card style="height: 180px; width:200px;">
                            <img width="200" src="../assets/placeholder.png"/>
                        </v-card>
                        </flex-center>
                    </v-flex>
                </v-layout>
            </v-container>
            </flex-center>
            <flex-center>
                <div v-if="!isChunkLoading && skins.length === 0" style="text-align: center">
                    <div v-if="isOwn">
                        <span class="font-weight-thin display-1">{{$t('inventory.inventisempty')}}</span>
                        <br/>
                        <span class="title font-weight-thin">{{$t('inventory.buytext.p1')}}
                        <v-btn @click="$router.push({name:'home'})" outline color="success">{{$t('inventory.buytext.p2')}}</v-btn>
                        {{$t('inventory.buytext.p3')}}
                        </span>
                    </div>
                    <div v-else>
                        <span class="font-weight-thin display-1">{{$t('inventory.skinsnotfound')}}</span>
                    </div>
                </div>
            </flex-center>
        </div>

        <v-progress-linear v-if="isChunkLoading" class="my-0" color="red" indeterminate
                           style="position: fixed; z-index: 10; bottom:0; left:0; right: 0;"></v-progress-linear>
    </div>
</template>
<!--<v-flex v-for="i in [1,2,3,4,5,6,7,8,9,6,5]">

</v-flex>-->
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Skin from "../models/Skin";
    import SkinCard from '../components/SkinCard'
    import FlexCenter from "../components/FlexCenter";
    import InventoryIcon from "../components/InventoryIcon";
    import axios from 'axios';
    import jc from 'js-cookie'
    import m from 'moment'
    import User from "../models/User";

    @Component({
        name: "InventoryView",
        components: {
            InventoryIcon,
            FlexCenter,
            SkinCard
        }
    })
    export default class InventoryView extends Vue {
        menuplaceholdershidew = 1050;
        moment = m;

        skins:Array<Skin> = [];
        user:User = null;

        canLoadMore: boolean = false;
        loaded: Number = 0;
        isChunkLoading = false;
        userId: string = null;
        isOwn = true;
        isUserLoaded = false;

        preloadCount = 20;
        preloadActivationOffset = 50;

        pretifyOCCount() {
            let rest = this.user.totalBought % 10;
            if (rest == 0 || (rest > 4) || this.user.totalBought % 100 == 11) {
                return this.user.totalBought + this.$i18n.t('inventory.casesS.zerotofour');
            } else if (rest == 1) {
                return this.user.totalBought + this.$i18n.t('inventory.casesS.one');
            } else {
                return this.user.totalBought + this.$i18n.t('inventory.casesS.other');
            }
        }

        openSteamProfile() {
            window.open("https://steamcommunity.com/profiles/" + this.user.steamId64String);
        }

        onScroll() {
            let scroll = window.pageYOffset || document.documentElement.scrollTop;
            const maxScroll = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            if (maxScroll - scroll < this.preloadActivationOffset && !this.isChunkLoading && this.canLoadMore) {
                this.loadChunk()
            }
        }

        onSell(skin){
            skin.state = "Sold";
        }

        async loadChunk() {
            this.isChunkLoading = true;

            this.$store.state.axios.post("/user/inventory"+(this.isOwn?"":"/foreign"),
                !this.isOwn ? {
                    offset: this.loaded,
                    ownerId: this.userId,
                    count: this.preloadCount,
                } : {
                    offset: this.loaded,
                    count: this.preloadCount
                }).then(data => {
                this.canLoadMore = data.data.result == "hasmore";
                console.log(data.data);
                this.loaded += this.preloadCount;
                for (let s of data.data.data) {
                    let skin:Skin = s;
                    skin.isOwner = this.isOwn;
                    skin.onSell = this.onSell;
                    this.skins.push(skin);
                }
                this.isChunkLoading = false;
            }).catch(ex => {
                console.log(ex)
            })
        }

        beforeMount() {
            window.onscroll = () => {
                this.onScroll();
            };

            let id = this.$route.query["user"];
            if (id != undefined) {
                this.userId = id;
                this.isOwn = false;
            }
        }

        async mounted() {
            this.isChunkLoading = true;
            this.user = await this.$store.dispatch('getAccountInfo') as User;
            if (!this.isOwn) {
                let res = await this.$store.state.axios.post("/user/foreign", {
                    userId: this.userId
                });
                this.user = res.data.data as User;
                this.isUserLoaded = true;
                console.log(res.data.data);
            } else {
                console.log('load');
                this.isUserLoaded = true;
            }
            this.loadChunk()
        }
    }
</script>

<style scoped>
    @media screen and (min-width: 500px) {
        .skins-container {
            background-size: cover;
            background: url('../assets/invent-bg.png') repeat-y;
        }
    }
</style>