<template>
    <div
         class="page">
        <div v-if="loaded">
            <v-container ref="spinner" fluid style="z-index: 2;user-select: none; width: 100%;">
                <v-layout>
                    <v-flex style="height: 50px"/>
                </v-layout> <!--Space 60px-->
                <v-layout>
                    <v-flex>
                        <div class="display-3 font-weight-light"
                             :style="'text-align:center; color:'+this.caseInfo.color">
                            {{this.caseInfo.name}} case
                        </div>
                    </v-flex>
                </v-layout> <!--name label-->
                <v-layout>
                    <v-flex style="height: 30px"/>
                </v-layout> <!--Space 60px-->
                <v-layout class="mb-2">
                    <v-flex>
                        <v-layout column align-center>
                            <v-flex>
                                <v-icon style="transform: rotateZ(90deg);color: #FE5858">
                                    send
                                </v-icon>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout> <!--Top arrow-->
                <v-layout>
                    <v-flex>
                        <v-layout column align-center>
                            <div class="spin-card">
                                <div class="spin-body"
                                     style="left: 200px; margin-left: -80px; border-color:#FE5858">
                                </div>
                                <div style="position: absolute; margin-left: -420px;">
                                    <img onselect="event.preventDefault()" draggable="false"
                                         src="../assets/lcorner.png"/>
                                </div>
                                <div style="position: absolute; right:0; margin-right:-420px;">
                                    <img onselect="event.preventDefault()" draggable="false"
                                         style="float: right; margin-top: -1px;"
                                         src="../assets/rcorner.png"/>
                                </div>
                            </div>

                            <v-flex style="height: 200px; margin-top: 10px;">
                                <SkinCard v-if="!isSkinsLoading"
                                          style="position: absolute; transition-timing-function: linear"
                                          v-for="c in skins"
                                          :info="c"
                                          :style="c.style">
                                </SkinCard>
                                <div v-if="isSkinsLoading"
                                     style="position: absolute; margin-left: -110px; margin-top: 40px;">
                                    <img height="100" style="opacity: 0.2;"
                                         src="../assets/roulette-logo.png"/>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout> <!--Spinner-->
                <v-layout>
                    <v-flex>
                        <v-layout column align-center>
                            <v-flex>
                                <v-icon style="transform: rotateZ(-90deg);color: #FE5858">
                                    send
                                </v-icon>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout> <!--Bottom arrow-->
                <v-layout>
                    <v-flex style="height: 30px"/>
                </v-layout> <!--Space 60px-->
                <v-layout>
                    <v-flex>
                        <v-layout column>
                            <v-flex style="align-self: center;">
                                <flex-center>
                                    <div :style="'max-width:'+($vuetify.breakpoint.width<960?320:900)+'px'">
                                        <v-card style="transition-duration: 300ms; border-top-left-radius:30px; border-top-right-radius:30px;"
                                                :style="'border-bottom-left-radius: '+(isBonusGame?0:30)+'px; border-bottom-right-radius: '+(isBonusGame?0:30)+'px;'">
                                            <v-container fluid class="pa-0 px-2">
                                                <v-layout align-center :column="$vuetify.breakpoint.xsOnly" wrap>
                                                    <v-flex class="centered-flex font-weight-light title mx-4 my-2"
                                                            style="width: 235px;">
                                                        <div>
                                                            Powered by <span style="font-family: ocr">RANDOM.ORG</span>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex>
                                                        <v-btn @click="$store.dispatch('login')" v-if="!$store.state.isLogged"
                                                               class="headline  ma-0 spin-btn">
                                                            {{$t('opencaseview.login')}}
                                                        </v-btn>
                                                        <v-btn v-else-if="!isReadyToSpin" ref="spinbtn"
                                                               class="headline  ma-0 spin-btn">
                                                            {{$t('opencaseview.waitforskins')}}
                                                        </v-btn>
                                                        <v-btn v-else-if="!isBonusGame &&!isSpins && $store.state.user.balance<caseInfo.price"
                                                               ref="spinbtn" @click="$store.state.modals.topUp=true"
                                                               class="headline  ma-0 spin-btn">
                                                            {{$t('opencaseview.topup')}}
                                                        </v-btn>
                                                        <v-btn v-else-if="!isSpins" ref="spinbtn" @click="startSpin()"
                                                               class="headline  ma-0 spin-btn">
                                                            <span v-if="this.isBonusGame">
                                                                {{$t('opencaseview.openforbonuses')}}
                                                            </span>
                                                            <span v-else>
                                                                {{$t('opencaseview.openfor')}}{{this.caseInfo.price+" ₽"}}
                                                            </span>
                                                        </v-btn>
                                                        <v-btn v-else-if="isHold" ref="spinbtn"
                                                               class="headline  ma-0 spin-btn">
                                                            {{$t('opencaseview.waitforres')}}
                                                        </v-btn>
                                                        <v-btn v-else ref="spinbtn" @click="skipClick()"
                                                               class="headline  ma-0 spin-btn">
                                                            {{$t('opencaseview.skip')}}
                                                        </v-btn>
                                                    </v-flex>
                                                    <v-flex class="centered-flex">
                                                        <v-container class="pa-0 ma-0" style="width: 300px;">
                                                            <v-layout v-if="$store.state.isLogged">
                                                                <v-flex class="centered-flex font-weight-light title ml-4 mr-2 my-2">
                                                                    <span v-if="!$store.state.user.gotBonus">
                                                                         {{$t('opencaseview.balance')}}
                                                                    </span>
                                                                    <span>
                                                                        <animated-number
                                                                                :prec="2"
                                                                                :style="$store.state.user.gotBonus?'font-size: 38px;':''"
                                                                                :value="$store.state.user.balance"/> ₽
                                                                    </span>
                                                                </v-flex>
                                                                <template v-if="$store.state.user!=null && $store.state.user.gotBonus===false">
                                                                    <v-flex>
                                                                        <v-switch height="8"
                                                                                  :disabled="isDemoSwitchLocked"
                                                                                  v-model="isBonusGame"
                                                                                  label=""
                                                                                  color="theme"
                                                                                  inline-block
                                                                                  style="margin-top: 20px; margin-right: -28px; width: 40px;"
                                                                                  class="openbar-switch"
                                                                        >

                                                                        </v-switch>
                                                                    </v-flex>
                                                                    <v-flex class="centered-flex text-xs-center font-weight-light title mr-2 my-2">
                                                                        {{this.$t('opencaseview.testmode')}}<br/>
                                                                        <animated-number
                                                                                :value="this.$store.state.user.bonusBalance"/>
                                                                    </v-flex>
                                                                </template>
                                                            </v-layout>
                                                        </v-container>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card>
                                        <transition name="fade">
                                            <v-card class="mt-3"
                                                    v-if="$store.state.isLogged && isBonusGame"
                                                    style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                                                <div style="min-width: 300px; max-width: calc(100% - 310px); display: inline-block;"
                                                     class="subheading font-weight-light pt-3 px-3">
                                                    <span class="theme--text title">{{$t("opencaseview.bonus.game")}}</span><br/>
                                                    {{$t("opencaseview.bonus.desc")}}
                                                    <br/>
                                                    <div class="text-xs-right font-weight-regular link" @click="$router.push({name:'faq', query:{scroll:'bonus'}})"
                                                         >
                                                        {{$t("opencaseview.bonus.seemore")}}
                                                    </div>
                                                </div>
                                                <div class="px-3 pb-3"
                                                     style="min-width: 300px; max-width: 310px; display: inline-block;">
                                                    <v-progress-circular
                                                            v-if="$store.state.user.bonusTotal<1700"
                                                            :rotate="-90"
                                                            :size="120"
                                                            :width="15"
                                                            :value="$store.state.user.bonusTotal/1700*100"
                                                            color="theme"
                                                            style="display: inline-block; margin-top: -100px;"
                                                    >
                                                        <animated-number :value="$store.state.user.bonusTotal"/>
                                                        /1700
                                                    </v-progress-circular>
                                                    <v-btn @click="getBonus" class="" color="theme"
                                                           style="width: 100px; height: 100px;margin-top: -100px;" fab
                                                           v-html="$t('opencaseview.bonus.getbonus')"
                                                           v-else>
                                                    </v-btn>


                                                    <div class="font-weight-light title" style="display: inline-block;">
                                                        <div>
                                                            {{$t("opencaseview.bonus.opened")}}
                                                        </div>
                                                        <div class="theme--text font-weight-regular"
                                                             style="margin-left: 10px;">
                                                            {{this.$store.state.user.bonusOpened}}
                                                        </div>
                                                        <div style="margin-left: 20px;">
                                                            {{$t("opencaseview.bonus.target")}}
                                                        </div>
                                                        <div class="theme--text font-weight-regular"
                                                             style="margin-left: 20px;">
                                                            1700₽
                                                        </div>
                                                        <div style="margin-left: 10px;">
                                                            {{$t("opencaseview.bonus.avgprice")}}
                                                        </div>
                                                        <div class="theme--text font-weight-regular">
                                                            <animated-number
                                                                    :value="$store.state.user.bonusTotal/($store.state.user.bonusOpened!=0?$store.state.user.bonusOpened:1)"/>
                                                            ₽
                                                        </div>
                                                    </div>
                                                </div>
                                            </v-card>
                                        </transition>
                                    </div>

                                </flex-center>
                                <!--<div style="margin-left: 28px; margin-right: 28px;">
                                    <v-progress-linear color="theme" value="80" style="opacity:0.5;border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" height="16" class="ma-0">

                                    </v-progress-linear>
                                </div>
                                <div class="text-xs-center font-weight-light title mt-2">
                                    Выбито 450₽ из 1700₽
                                </div>-->


                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout> <!--Bottom toolbar-->
            </v-container>
            <div style="height: 250px; width: 100%">
                <canvas id="chart"></canvas>
            </div> <!--Chart-->
            <div class="font-weight-thin title pt-2"
                 style="width: 100%; text-align: center; height:20px; margin-top: -16px; background-color: #262626;"></div>
            <div class="font-weight-thin display-1 pt-4"
                 style="width: 100%; text-align: center; height:60px;  background-color: #262626;">
                {{$t('opencaseview.whatcoulddrop')}}:
            </div>
            <div class="font-weight-thin title pt-2"
                 style="width: 100%; text-align: center; height:20px; background-color: #262626;">
                <span style="transition-duration: 200ms;" :style="'opacity:'+(isSkinsLoading?1:0)">{{$t('opencaseview.classesloading')}}</span>
            </div>
            <div style="width: 100%; background-color: #262626;">
                <flex-center>
                    <v-container class="mx-0" style="max-width: 880px;">
                        <v-layout style="justify-content: center" wrap>
                            <v-flex class="mx-1 mb-2" v-if="!isSkinsLoading"
                                    :key="c.class.assetId"
                                    v-for="c in caseSkins"
                                    style="flex: 0;"
                                    >
                                    <SkinCard @click.native="loadExteriors(c)" style="cursor: pointer" :info="c"></SkinCard>
                            </v-flex>
                            <v-flex class="mx-1 mb-2" v-if="isSkinsLoading" v-for="i in 10">
                                    <v-card style="height: 180px; width:200px;">
                                        <img width="200" src="../assets/placeholder.png"/>
                                    </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </flex-center>
                <div style="height: 80px"/>
                <img style="position:absolute; width: 100%; right: 0;bottom: 0; left: 0;"
                     src="../assets/roulette-bottom-bg.png"/>
            </div> <!--case skins-->

            <v-dialog v-if="isExteriorModalRenders" v-model="isExteriorModal" max-width="330">
                <v-card style="min-height: 400px; width: 330px;">
                    <div v-click-to-copy.text style="text-align: center; width: 100%;" class="font-weight-thin pt-3 title">
                        {{this.exteriorModalSkin.class.weapon.replace("(Knife)", "★")}} |
                        {{" "+this.exteriorModalSkin.class.name}}
                    </div>
                    <div style="padding-bottom: 60px;">
                        <v-data-table
                                :headers="exteriorModalTableHeaders"
                                :items="exteriorModalStates"
                                hide-actions
                                no-data-text="Загружаем информацию"
                                :loading="isExteriorModalLoading"
                                class="elevation-0"
                                style="max-width: 340px;"
                        >
                            <template slot="items" slot-scope="props">
                                <td class="pl-3 pr-0">{{ props.item.exterior}}<br/>{{"/"+(props.item.number)+"/"}}</td>
                                <td class="px-1 text-xs-center">{{(props.item.price!=undefined?(props.item.price + '₽'):'')}}</td>
                                <td class="px-1">
                                <span class="orange--text" v-if="props.item.count===0">
                                    {{$t('opencaseview.pending')}}</span>
                                    <span class="green--text" v-else>
                                    {{$t('opencaseview.has')}}
                                </span>
                                </td>
                                <td class="px-1 text-xs-center">
                                    <v-icon v-if="props.item.count!==0"
                                            @click="visitSteamAsset(props.item.assetId, props.item.botSteamId64String)"
                                            style=" cursor: pointer;">visibility
                                    </v-icon>
                                </td>
                            </template>
                        </v-data-table>
                    </div>
                    <v-card-actions style="bottom: 0; left: 0; right: 0px; position: absolute;">
                        <v-spacer></v-spacer>
                        <v-btn @click="isExteriorModal = false" flat color="success">
                            {{$t('opencaseview.hide')}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog><!--Skin exteriors modal -->
            <v-dialog max-width="400" v-if="isSpinModal" v-model="isSpinModal">
                <v-card style="overflow: hidden" class="">
                    <div :style="'filter: hue-rotate('+(-204 + RGBtoHUE(droppedSkin.class.color))+'deg);'"
                         class="drop-modal-card">
                    </div>
                    <v-card-media>
                        <v-container class="pa-0 pt-2">
                            <v-layout>
                                <v-flex style="height: 100px; margin-top: 0px;"
                                        class="display-1 font-weight-thin text-xs-center px-3">
                                    <flex-center>
                                        <table v-click-to-copy="postOpenCopyName">
                                            <tr>
                                                <td :style="'color:#'+droppedSkin.class.color"
                                                    :class="calcTextSize(droppedSkin.class.name)"
                                                    class="font-weight-regular text-xs-right">
                                                    {{this.droppedSkin.class.name}}
                                                </td>
                                                <td>
                                                <span style="color:white"
                                                      class="font-weight-thin display-1">|</span>
                                                </td>
                                                <td class="display-1 font-weight-thin text-xs-left">
                                                    <div style="margin-top: -22px; display: inline-block;"
                                                         class="font-weight-thin display-2">
                                                        {{Math.round(this.droppedSkin.price)}}
                                                    </div>
                                                    <div style="display: inline-block;">₽</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="display-1 font-weight-thin text-xs-right"
                                                    :class="calcTextSize(droppedSkin.class.exterior)">
                                                    {{this.droppedSkin.class.exterior}}
                                                </td>
                                                <td>
                                                <span style="color:white"
                                                      class="font-weight-thin display-1">|</span>
                                                </td>
                                                <td class="font-weight-thin text-xs-left"
                                                    :class="calcTextSize(droppedSkin.class.weapon)">
                                                    {{this.droppedSkin.class.weapon.replace("(Knife)", "★")}}
                                                </td>
                                            </tr>
                                        </table>
                                    </flex-center>
                                    <div v-if="droppedSkin.state === 'Virtual'" class="title font-weight-regular green--text">
                                        {{$t('opencaseview.skinoftrymode')}}
                                    </div>
                                    <div v-else-if="droppedSkin.state === 'Pending'" class="title font-weight-regular orange--text">
                                        {{$t('opencaseview.pending')}}
                                    </div>
                                    <div v-else-if="Date.now()>Date.parse(droppedSkin.unlockStamp)"
                                         class="title font-weight-regular green--text">
                                        {{$t('opencaseview.ready')}}
                                    </div>
                                    <div v-else class="title font-weight-regular orange--text">
                                        {{$t('opencaseview.banuntil')}}
                                        {{new Date(Date.parse(this.droppedSkin.unlockStamp)).toLocaleDateString()}}
                                    </div>
                                </v-flex>
                            </v-layout>
                            <v-layout style="margin-top: 58px;" align-center column>
                                <flex-center>
                                    <img style="height: 225px; width: 300px;"
                                         :src="droppedSkin.class.iconUrl"/>
                                </flex-center>
                            </v-layout>
                            <v-layout>
                                <flex-center>
                                    <v-btn @click="$store.dispatch('openSellModal', droppedSkin)"
                                           v-if="droppedSkin.state !== 'Virtual'" color="theme">
                                        {{$t('opencaseview.sellfor')}}{{this.caseInfo.price*0.9}} ₽
                                    </v-btn>
                                    <div v-else style="height: 50px;">

                                    </div>
                                </flex-center>
                            </v-layout>
                            <v-layout v-if="droppedSkin.state === 'Virtual'" style="height: 6px;">

                            </v-layout>
                        </v-container>
                    </v-card-media>

                    <v-card-actions>
                        <form target="_blank" action='https://api.random.org/verify' method='post'>
                            <input type='hidden' name='format' value='json'/>
                            <input type='hidden' name='random'
                                   :value="JSON.stringify(droppedSkin.result.random)"/>
                            <input type='hidden' name='signature'
                                   :value="droppedSkin.result.signature"/>
                            <v-btn type="submit" color="success">
                                {{$t('opencaseview.checktrueness')}}
                            </v-btn>
                        </form>
                        <v-spacer/>
                        <v-btn @click="isSpinModal=false" flat>
                            {{$t('opencaseview.hide')}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog> <!--Post open modal-->
        </div>
        <flex-center v-else>
            <v-progress-circular size="100" color="red" indeterminate>

            </v-progress-circular>
        </flex-center>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Case from "../models/Case";
    import Skin from "../models/Skin";

    import Chart, {ChartPoint, ChartDataSets} from 'chart.js'
    import FlexCenter from "../components/FlexCenter";
    import SkinCard from "../components/SkinCard";
    import axios from 'axios';
    import ExteriorInfo from "../models/ExteriorInfo";
    import AnimatedNumber from "../components/AnimatedNumber";
    import Class from "../models/Class";
    import m from 'moment'

    @Component({
        components: {
            AnimatedNumber,
            FlexCenter,
            SkinCard
        }
    })
    export default class OpenCaseView extends Vue {
        caseInfo: Case;
        caseId: String = "";
        moment = m;

        loaded = false;
        /*case skins*/
        caseSkins: Array<Skin> = [];
        isSkinsLoading = true;

        postOpenCopyName(el, node){
            return `${this.droppedSkin.class.statTrak?"StatTrak™":""}
             ${this.droppedSkin.class.weapon} ${this.droppedSkin.class.name} ${this.droppedSkin.class.exterior}`
        }

        async getCaseSkins() {
            let cases = await this.$store.dispatch("getCasesInfo");
            axios.post(this.$store.state.config.apiUrl + "/store/caseClasses",
                {
                    caseid: this.caseInfo.caseId
                })
                .then(res => {
                    this.caseSkins = [];
                    for (let s of res.data.data) {
                        let skin = s;
                        skin.class = <Class>{
                            exterior: "Номер " + skin.fromNumber + (skin.fromNumber != skin.toNumber ? "-" + skin.toNumber : ""),
                            iconUrl: skin.iconUrl,
                            color: skin.color,
                            name: skin.name,
                            weapon: skin.weapon,
                            statTrak: skin.statTrak
                        };
                        this.caseSkins.push(skin);
                    }
                    this.isSkinsLoading = false;

                    this.isExteriorModalLoading = false;
                    if (this.readyToAddIcons == true) {
                        this.addIcons()
                    } else {
                        this.readyToAddIcons = true;
                    }
                })
            /*.catch(await this.$store.dispatch('handleNetError'));*/
        }

        /*Spinner*/
        mirroredCount = 3; // count of visible items
        spaceBetweenCards = 5;
        cardWidth = 200;
        isDemoSwitchLockedField = false;
        magicOffset = -24 + this.cardWidth; // targets spin on a target card

        skins: Array<Skin> = [];

        latBoundUp = 200; // max movement
        latBoundDown = 20; // min movement

        isReadyToSpin = false;

        spinsCount = 2;
        spinsStep = 0; // accumulator
        spinLength = (this.cardWidth + this.spaceBetweenCards) * this.mirroredCount * 2 + this.cardWidth;

        targetId = 0; // win item i

        isHold = false;
        isSpins = false;

        onSell() {
            this.isSpinModal = false;
        }

        isBonusGame: boolean = false;

        get isDemoSwitchLocked(): boolean {
            return this.isDemoSwitchLockedField || !this.$store.state.isLogged
        }

        set isDemoSwitchLocked(val) {
            this.isDemoSwitchLockedField = true;
        }

        async getSkins() {
            this.isReadyToSpin = false;
            this.$store.state.axios.post("/store/caseDrop", {caseid: this.caseInfo.caseId})
                .then(res => {
                    let rep = res.data.data;
                    this.skins = [];
                    for (let i = 0; i < this.mirroredCount * 2 + 1; i++) {
                        let skin: Skin = Object.assign({}, rep[Math.round(Math.random() * (rep.length - 1))]);
                        this.skins.push(skin);
                    }
                    this.targetId = Math.round(Math.random() * (this.skins.length - 1));
                    console.log(this.targetId);
                    this.initializeSkins();
                    this.isSpins = false;
                    this.isReadyToSpin = true;
                }).catch(await this.$store.dispatch('handleNetError'));

            /*TODO add logic*/
        }

        initializeSkins() {
            this.holdStep = 0;
            this.spinsStep = 0;

            function setPos(skin: Skin, step: number, id: number) {
                skin.step = step;
                skin.id = id;
                skin.style = 'transition-duration:1ms;margin-left:' + skin.step + 'px';
            }

            setPos(this.skins[0], -this.cardWidth / 2, 0);

            for (let i = 1; i <= this.mirroredCount; i++) {
                setPos(this.skins[i * 2 - 1],
                    -this.cardWidth - (this.cardWidth + this.spaceBetweenCards) * i + this.cardWidth / 2,
                    (i * 2) - 1);

                setPos(this.skins[i * 2],
                    (this.cardWidth + this.spaceBetweenCards) * i - this.cardWidth / 2,
                    i * 2);
            }

            if (this.readyToAddIcons == true) {
                this.addIcons()
            } else {
                this.readyToAddIcons = true;
            }
        }

        addIcons() {
            for (let d: Skin of this.skins) {
                let card: Skin = this.caseSkins.find(s => s.class.name == d.class.name && s.class.weapon == d.class.weapon);
                d.class.iconUrl = card.class.iconUrl;
                d.class.color = card.class.color;
            }
            this.isReadyToSpin = true;
        }

        readyToAddIcons: boolean = false;

        skipClick() {
            this.spinEnd()
        }

        startSpin() {
            if ((!this.isBonusGame) ? (this.$store.state.user.balance >= this.caseInfo.price) : (this.$store.state.user.bonusBalance >= this.caseInfo.price)) {
                if (!this.isBonusGame)
                    this.$store.commit('setBalance', this.$store.state.user.balance - this.caseInfo.price);
                else {
                    this.$store.state.user.bonusBalance -= this.caseInfo.price;
                }
                this.isDemoSwitchLockedField = true;

                let trip = this.spinsTrip -
                    (this.skins[this.targetId].step)
                    + Math.random() *
                    (this.cardWidth + this.spaceBetweenCards - 4/*to win*/) - this.magicOffset;

                this.isHold = true;
                this.isSpins = true;
                this.lastCardN = 0;
                this.$store.state.axios.post("/user/opencase", {
                    caseid: this.caseInfo.caseId,
                    mode: this.isBonusGame ? 'bonus' : 'real'
                }).then(async res => {
                    if (res.data.result != 'notenoughmoney') {
                        this.isHold = false;
                        this.spinsStep += this.holdStep % this.spinLength;
                        let skin: Skin = res.data.data;
                        console.log(skin);
                        let c = await this.$store.dispatch("getCase", skin.result.caseId);

                        skin.result.random = {
                            method: "generateSignedIntegers",
                            hashedApiKey: skin.result.hashedApiKey,
                            n: 1,
                            min: c.minNumber,
                            max: c.maxNumber,
                            replacement: true,
                            base: 10,
                            data: [skin.result.number],
                            completionTime: skin.result.completionTime.replace('T', ' ') + "Z",
                            serialNumber: skin.result.serialNumber
                        };
                        skin.case = this.caseInfo;
                        skin.onSell = this.onSell;
                        skin.owner = this.$store.state.user;
                        console.log(this.droppedSkin, "before")
                        this.droppedSkin = skin;
                        console.log(this.droppedSkin, "after");

                        this.skins[this.targetId].class = skin.class;
                        this.skins[this.targetId].price = skin.price;
                    } else {
                        this.$store.dispatch('showNote', {text: "Недостаточно средств", color: "error"});
                        this.getSkins();
                        this.$store.dispatch('getAccountInfo')
                    }
                }).catch(res => {
                    this.isSpins = false;
                    console.log(res);
                    if (!this.isBonusGame)
                        this.$store.commit('setBalance', this.$store.state.user.balance + this.caseInfo.price);
                    else
                        this.$store.state.user.bonusBalance += this.caseInfo.price;
                    this.$store.dispatch('showNote', {
                        text: "Ошибка открытия кейса. Попробуйте перезагрузить страницу",
                        color: "error"
                    });
                });

                this.spin(trip);
            } else {
                if (!this.isBonusGame)
                    this.$store.dispatch('showNote', {text: "Недостаточно средств", color: "error"})
                else
                    this.$store.dispatch('showNote', {text: "Недостаточно бонусов", color: "error"})
            }
        }

        getBonus() {
            this.$store.commit('setBalance', this.$store.state.user.balance + 80);
            this.$store.state.user.gotBonus = true;
            this.isBonusGame = false;
        }

        spinEnd() {
            this.isDemoSwitchLockedField = false;

            if (this.isBonusGame) {
                this.$store.state.user.bonusTotal += this.droppedSkin.price;
                this.$store.state.user.bonusOpened++;

                if (this.$store.state.user.bonusBalance == 0) {
                    this.$store.dispatch('showNote', {
                        text: "К сожалению вы не выбили 1700 рублей",
                        color: "info"
                    });
                    this.$store.state.user.gotBonus = true;
                    this.isBonusGame = false;
                }
                if (this.$store.state.user.bonusTotal > 1700) {
                    this.$store.dispatch('showNote', {
                        text: "Поздравляем! Вы можете забрать Ваш бонус!",
                        color: "success"
                    });
                    this.$store.state.user.gotBonus = true;
                    this.isBonusGame = false;
                    this.$store.state.user.balance += 15;
                }
            }

            this.isSpinModal = true;
            this.getSkins();
            this.droppedSkin.serialNumber = this.$store.state.liveDropSkins[0].serialNumber+1;
            this.$store.commit('addLiveDropSkin', this.droppedSkin);
        }

        updatePositions(movement: number, lat: number) {
            for (let c: Skin of this.skins) {
                c.step += movement;
                c.time = lat;
                c.style = 'transition-duration:' + c.time + 'ms;margin-left:' + c.step + 'px';
                const end = (this.cardWidth + this.spaceBetweenCards) * this.mirroredCount - this.cardWidth + this.cardWidth; // bound of view
                if (c.step > end) { // if ends
                    c.step = -end + (c.step - end) - 1 * this.cardWidth - this.spaceBetweenCards; // speed hack;
                    c.style = 'transition-duration:1ms;margin-left:' + c.step + 'px'
                }
            }
            this.$forceUpdate()
        } // moves cards

        tik: Audio = new Audio('/tik.mp3');
        holdStep: number = 0;

        get spinsTrip() {
            return this.spinLength * this.spinsCount;
        }

        lastCardN = 0;
        spin(trip: Number) {
            if (this.isSpins) {
                if (this.spinsStep < trip - 5) {
                    const rest = (trip - this.spinsStep);
                    const movement = rest / 15;
                    let lat = rest * this.latBoundUp;
                    lat = lat < this.latBoundUp ? (lat > this.latBoundDown ? lat : this.latBoundDown) : this.latBoundUp;
                    this.updatePositions(movement, lat);
                    if (!this.isHold)
                        this.spinsStep += movement;
                    else
                        this.holdStep += movement;

                    /*let curn = Math.round((this.spinsStep+this.holdStep-22)/(this.cardWidth+this.spaceBetweenCards));
                    if(curn>this.lastCardN){
                        this.lastCardN = curn;
                        this.tik.play();
                    }*/

                    setTimeout(() => this.spin(trip), lat);
                } else {
                    this.spinEnd()
                }
            }
        }

        /*Life hooks*/
        beforeMount() {
            this.exteriorModalTableHeaders = [
                {text: this.$i18n.t('opencaseview.exteriorModal.exterior'), value: 'state', class: ['pa-1', 'pl-3']},
                {text: this.$i18n.t('opencaseview.exteriorModal.price'), value: 'price', class: ['pa-1']},
                {text: this.$i18n.t('opencaseview.exteriorModal.existance'), value: 'unlockTime', class: ['pa-1']},
                {text: this.$i18n.t('opencaseview.exteriorModal.insteam'), value: 'unlockTime', class: ['pa-1']}
            ];
            console.log("bef open")
        }

        async mounted() {
            await this.$store.dispatch('getCasesInfo');
            await this.$store.dispatch('getAccountInfo');
            this.caseId = this.$route.query.case || this.$router.push('/');
            this.caseInfo = await this.$store.dispatch("getCase", this.caseId);

            if(this.$store.state.isLogged)
                this.isBonusGame = !this.$store.state.user.gotBonus;

            this.loaded = true;
            setTimeout(() => {
                this.initGraph();
            }, 500);
            this.getCaseSkins();
            this.getSkins();
        }

        /*Results modal*/
        isSpinModal = false;
        droppedSkin: Skin;

        RGBtoHUE(rgbS) {
            let r = parseInt(rgbS[0] + rgbS[1], 16) / 255;
            let g = parseInt(rgbS[2] + rgbS[3], 16) / 255;
            let b = parseInt(rgbS[4] + rgbS[5], 16) / 255;
            let hue = 0;
            let delta = Math.max(r, g, b) - Math.min(r, g, b);
            if (delta != 0) {
                if (r > b && r > g) {//r
                    hue = 60 * (((g - b) / delta) % 6)
                } else if (g > b) {//g
                    hue = 60 * ((b - r) / delta + 2)
                } else {//b
                    hue = 60 * ((r - g) / delta + 4)
                }
            }
            return hue;
        }

        calcTextSize(text: string) {
            if (text.length < 10)
                return 'display-1';
            else if (text.length < 18)
                return 'headline';
            else if (text.length < 250)
                return 'title';
            else
                return 'body-2';
        }

        /*Exterior modal*/
        isExteriorModal = false;
        isExteriorModalRenders = false;
        exteriorModalSkin: Skin = null;
        exteriorModalStates: Array<ExteriorInfo> = [];
        isExteriorModalLoading = false;
        exteriorModalTableHeaders = [];

        visitSteamAsset(id: number, bot: string) {
            window.open('https://steamcommunity.com/profiles/' + bot + '/inventory/#730_2_' + id)
        }

        async loadExteriors(s: Skin) {
            this.exteriorModalSkin = s;

            this.isExteriorModal = true;
            this.isExteriorModalLoading = true;
            this.isExteriorModalRenders = true;
            this.exteriorModalStates = [];
            axios.post(this.$store.state.config.apiUrl + "/store/classExteriors", {
                weapon: s.class.weapon,
                name: s.class.name
            }).then(res => {
                this.exteriorModalStates = [];
                console.log(res.data.data);
                for (let s of res.data.data) {
                    let exterior: ExteriorInfo = s;
                    exterior.unlockTime = new Date(s.unlockTime);
                    console.log(exterior);
                    this.exteriorModalStates.push(exterior);
                }
                this.isExteriorModalLoading = false;
            }).catch(await this.$store.dispatch('handleNetError'))
        }

        /*Statics graph*/
        chart: Chart;

        initGraph() {
            var ctx = (document.getElementById("chart") as HTMLCanvasElement).getContext('2d');

            let headers = [];
            let data = [];

            for (let s: any of this.caseInfo.history) {
                if (headers.indexOf(s.day) == -1)
                    headers.push(m(s.day).fromNow());
                data.push(s.count);
            }

            console.log(data, headers);
            let chart = new Chart(ctx, {
                type: 'line',
                data: {
                    fill: "start",
                    datasets: [
                        {
                            backgroundColor: "#262626",
                            borderColor: "#FE5858",
                            label: 'Открыто кейсов',
                            fill: "start",
                            data: data,
                            borderWidth: 4
                        }
                    ],
                    labels: headers
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            display: false //this will remove all the x-axis grid lines
                        }],
                        yAxes: [{display: false}]
                    },
                    layout: {
                        padding: {
                            bottom: 16,
                            top: 16
                        }
                    },
                    animation: {
                        duration: 0,
                        onComplete: function () {
                            // render the value of the chart above the bar
                            var ctx = this.chart.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, 'normal', Chart.defaults.global.defaultFontFamily);
                            ctx.fillStyle = this.chart.config.options.defaultFontColor;
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            this.data.datasets.forEach(function (dataset) {
                                for (var i = 0; i < dataset.data.length; i++) {
                                    var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
                                    ctx.fillText(dataset.data[i], model.x, model.y + 20);
                                }
                            });
                        }
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    }
</script>

<style scoped>
    @font-face {
        font-family: ocr;
        src: url("../assets/fonts/ocraextended.ttf");
    }

    .drop-modal-card {
        height: 498px;
        width: 400px;
        position: absolute;
        background-position-y: -160px;
        background-position-x: -186px;
        background-image:url('../assets/drop-bg.png');
    }

    .spin-btn {
        border-radius: 30px;
        width: 300px;
        height: 60px;
        background-color: #FE5858 !important;
    }

    .black-background {
        background-color: black;
    }

    .right-border {
        border: 0px solid #a7a7a7;
        border-right-width: 1px;
    }

    .left-border {
        border: 0px solid #a7a7a7;
        border-left-width: 1px;
    }

    .spin-card {
        position: absolute;
        height: 200px;
        width: 100%;
        max-width: 940px;
        z-index: 2;
    }

    .centered-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .spin-body {
        position: absolute;
        height: 200px;
        width: calc(100% - 40px);
        margin-left: 15px;
        box-shadow: #191919 -12px 0px 16px inset;
        border-width: 2px;
        border-style: solid;
        border-left-width: 0;
        border-right-width: 0;
    }

    .page{
        height: 100%;
        background-size: contain;
        background-image: url('../assets/roulette-top-bg.png')
    }

</style>

<style>
    .openbar-switch .v-input__control .v-input__slot .v-label {
        font-size: 20px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.02em !important;
        opacity: 1;
        color: white;
        line-height: 1 !important;
        text-rendering: optimizeLegibility;
    }
</style>