<template>
    <div class="page">
        <v-container v-if="!$store.state.isUserLoading" fluid style="width: 100%; max-width: 900px;">
            <v-layout class=" hidden-xs-only" justify-center style="height: 60px;margin-top: 60px;">
                <v-flex class="flex-slim">
                    <v-breadcrumbs style="min-width: 500px;">
                        <v-breadcrumbs-item class="title theme--text">
                            {{$t('menu.home')}}
                        </v-breadcrumbs-item>
                        <v-breadcrumbs-item class="headline">
                            {{$t('menu.ref')}}
                        </v-breadcrumbs-item>
                    </v-breadcrumbs>
                </v-flex>
            </v-layout>
            <v-layout style="margin-top: 40px;" wrap justify-center>
                <v-flex>
                    <div style="vertical-align: center; margin-top: 22px;"
                         class="mr-3 title font-weight-light text-xs-center text-sm-right">
                        {{$t('referal.yourlink')}}
                    </div>
                </v-flex>
                <v-flex>
                    <flex-center>
                        <v-card v-if="!$store.state.isUserLoading" class="mt-1"
                                :style="'width: '+($vuetify.breakpoint.width<700?320:410)+'px;'"
                                style=" height: 58px; border-radius:40px;">
                            <div>
                                <v-text-field type="input" mask="nnnnnnnnnnnnnn"
                                              :prefix="$vuetify.breakpoint.width<700?'':'gaincase.com/#/ref='"
                                              solo flat
                                              v-model="linkfield"
                                              class="pl-3 pr-0 mt-1 ref-text-field"
                                              :placeholder="$store.state.user.referalLink"
                                              :style="'width: '+($vuetify.breakpoint.width<700?208:298)+'px;'"
                                              style="display: inline-block; margin-right: -8px;"/>
                                <v-btn v-if="!isDifLink" @click="copy" class="ma-0" flat
                                       style="height: 58px; width: 120px; border-radius:40px;">
                                    {{$t('referal.copy')}}
                                </v-btn>
                                <v-btn v-else @click="assignLink" class="ma-0" flat
                                       style="height: 58px; width: 120px; border-radius:40px;">
                                    {{$t('referal.change')}}
                                </v-btn>
                            </div>
                        </v-card>
                    </flex-center>
                </v-flex>
            </v-layout>
            <v-layout style="margin-top: 40px;">
                <div class="mt-5 pa-2 center title font-weight-light text-xs-center">
                    {{$t('referal.suggestion')}}
                </div>
            </v-layout>
            <v-layout wrap>
                <v-flex>
                    <flex-center>
                        <svg ref="rad" :width="radius*2" :height="radius*2" style="position:absolute;">
                            <!--<template v-for="x in degs">
                                <rect :width="width"
                                      :fill="x.fill"
                                        :height="x.height"
                                        :x="x.x"
                                        :y="x.y"/>
                                <text :y="x.y-10"  class="font-weight-light" fill="white" v-if="x.i%10===0" :x="x.x">{{x.i/10}}</text>
                            </template>
        -->
                            <circle :r="radius" :cx="radius" :cy="radius" :fill="strokeColor"/>
                            <path :d="pieSector" :fill="progressColor"></path>
                            <circle :r="radius-width" :cx="radius" :cy="radius" fill="#303030"/>
                            <line v-for="b in brackets"
                                  :x1="b.x1"
                                  :x2="b.x2"
                                  :y1="b.y1"
                                  :y2="b.y2"
                                  stroke="gold"
                                  stroke-width="2"></line>
                            <line v-for="b in brackets" :x1="b.x1" :x2="b.x2" :y1="b.y1" :y2="b.y2"
                                  stroke="transparent"
                                  @mouseover="over(b.l,$event.pageX, $event.pageY)"
                                  @mouseout="out"
                                  stroke-width="20"></line>
                        </svg>
                        <div :style="'width: '+(radius*2-100)+'px; height: '+radius*2+'px;'"
                             style="margin-right: 50px; margin-left: 50px;">
                            <div style="top: 50%;left: 50%;transform: translate(-50%, -50%);position: relative; text-align: center;">
                                <span class="font-weight-light display-4">{{Math.round(this.refLevel+1)}}</span><br/>
                                <span class="subheading font-weight-light" v-html="$t('referal.reflevel')"></span>
                            </div>
                        </div>
                    </flex-center>
                </v-flex>
                <v-flex>
                    <div class="font-weight-light title text-xs-center text-sm-left">
                        {{$t('referal.percent')}} <span class="display-2 font-weight-light">{{5+Math.round(this.refLevel)*2}}</span>%
                    </div>
                    <div class="font-weight-light title mt-3 text-xs-center text-sm-left">
                        {{$t('referal.usersneed')}}<span class="display-1 font-weight-light">{{this.$store.state.user.referalsRest}}</span>
                    </div>
                    <div class="font-weight-light title mt-3 text-xs-center text-sm-left">
                        {{$t('referal.referals')}}<span class="display-1 font-weight-light">{{this.$store.state.user.referalsCount}}</span>
                    </div>
                    <div class="font-weight-light title mt-3 text-xs-center text-sm-left">
                        {{$t('referal.ovinc')}}<span class="display-1 font-weight-light">{{this.$store.state.user.referalTotalIncoming}}</span>₽
                    </div>
                    <div class="hidden-xs-only" style="height: 80px;">

                    </div>
                    <v-btn @click="claimIncoming" style="border-radius:40px;" color="success"
                           class="mt-4 title font-weight-light">
                        {{$t('referal.claim')}}&nbsp;
                        <animated-number :value="this.$store.state.user.referalIncoming"/>
                        ₽
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
        <flex-center v-else>
            <v-progress-circular size="100" color="red" indeterminate>

            </v-progress-circular>
        </flex-center>

        <v-tooltip :position-x="tX" :position-y="tY" top v-model="isTooltipVisible">
            {{$t('referal.level')}}{{this.level}}<br/>
            {{$t('referal.perc')}}{{this.percent}}%<br/>
            {{$t('referal.usersrest')}}{{this.left}}
        </v-tooltip>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import VTextField from "vuetify/src/components/VTextField/VTextField";
    import FlexCenter from "../components/FlexCenter";
    import AnimatedNumber from "../components/AnimatedNumber";
    import axios from 'axios';
    import jc from 'js-cookie';

    import {copyToClipboard} from '../Helpers'

    @Component({
        name: "ReferalView",
        components: {AnimatedNumber, FlexCenter, VTextField}
    })
    export default class ReferalView extends Vue {
        /* refLevel = 4.2;
         space = 10;
         width = 4;
         graphHeight=150;
         maxHeight = 100;
         lowerHeight = 10;
         degs = [];*/

        radius = 150;
        width = 20;
        strokeColor = "#555555";
        progressColor = "#FE5858";
        brackets = [];
        bracketsN = 10;

        tX = 0;
        tY = 0;
        isTooltipVisible = false;
        left = 0;
        level = 0;
        percent = 0;

        link = "";
        isDifLink = false;
        isAssigning = false;

        get linkfield() {
            return this.link;
        }

        set linkfield(val) {
            this.link = val;
            this.isDifLink = val !== this.$store.state.user.referalLink && val != "";
        }

        async assignLink() {
            let res = await this.$store.state.axios.post("/user/assignReferalLink", {
                link: this.link
            })
            if (res.data.result == "ok") {
                this.$store.state.user.referalLink = this.link;
                this.isDifLink = false;
                this.$store.dispatch('showNote', {
                    text: this.$i18n.t('referal.linksuccess'),
                    color: "success"
                })
            } else {
                this.$store.dispatch('showNote', {
                    text: this.$i18n.t('referal.linkfailure'),
                    color: "red"
                })
            }
        }

        refLevel = 0;
        progress = 0;
        pieSector = "";

        over(l: number, x, y) {
            this.tX = x;
            this.tY = y;
            this.level = this.$store.state.user.referalLevel + l / 10;
            this.percent = 5 + this.level * 2;
            this.left = (this.$store.state.user.referalsCountCurrentLevel +
                (this.$store.state.user.referalsCountToNextLevel - this.$store.state.user.referalsCountCurrentLevel) / 10 * l) -
                this.$store.state.user.referalsCount;
            this.isTooltipVisible = true;
        }

        out() {
            this.isTooltipVisible = false;
        }

        async claimIncoming() {
            if(this.$store.state.user.referalIncoming!=0) {
                await this.$store.state.post("/user/claimReferalIncoming");
                this.$store.commit('setBalance', this.$store.state.user.balance + this.$store.state.user.referalIncoming);
                this.$store.state.user.referalIncoming = 0;
            }
        }

        copy() {
            copyToClipboard("gaincase.com/#/?ref=" + this.$store.state.user.referalLink)
            this.$store.dispatch('showNote', {
                text: this.$i18n.t('referal.copied'),
                color: "success"
            });
        }

        async mounted() {
            await this.$store.dispatch('getAccountInfo');

            this.refLevel = this.$store.state.user.referalLevel +
                ((this.$store.state.user.referalsCount - this.$store.state.user.referalsCountCurrentLevel) /
                    (this.$store.state.user.referalsCountToNextLevel - this.$store.state.user.referalsCountCurrentLevel));
            this.linkfield = this.$store.state.user.referalLink;
            this.progress = this.refLevel - Math.trunc(this.refLevel);

            let progDeg = Math.PI * 2 * this.progress;

            this.pieSector = 'M' + this.radius + ',0 a' + this.radius + ',' + this.radius + ' 0 ' + (this.progress > 0.5 ? '1' : '0') + ',1 ' +
                (Math.sin(progDeg) * this.radius) +
                ',' +
                (-Math.cos(progDeg) * this.radius + this.radius) +
                ' ' +
                'L' +
                (Math.sin(progDeg) * (this.radius - this.width) + this.radius) +
                ',' +
                (-Math.cos(progDeg) * (this.radius - this.width) + this.radius) +
                'L ' + this.radius + ',' + this.width;
        }

        beforeMount() {
            /*for(let i=0;i<=50;i++){
                let height = this.maxHeight/50*i+20;
                let y = this.graphHeight-height;
                let dec = i%10==0;
                let deg = {
                    height:dec?height+10:height,
                    i:i,
                    fill:dec?"gold":"#555555",
                    x:(this.width+this.space)*i,
                    y:dec?y-10:y,
                    color:"black"
                };
                this.degs.push(deg);
            }*/

            for (let i = 1; i <= this.bracketsN; i++) {
                let deg = Math.PI * 2 * -(i / this.bracketsN) + Math.PI;
                if (i / this.bracketsN >= this.progress)
                    this.brackets.push({
                        x1: Math.sin(deg) * (this.radius - this.width) + this.radius,
                        x2: Math.sin(deg) * (this.radius) + this.radius,
                        y1: Math.cos(deg) * (this.radius - this.width) + this.radius,
                        y2: Math.cos(deg) * (this.radius) + this.radius,
                        l: i
                    })
            }

        }
    }
</script>
<style>
    .ref-text-field .v-input__control .v-input__slot .v-text-field__slot .v-text-field__prefix {
        width: 160px !important;
        font-size: 14px;
    }
</style>

<style scoped>
    input:focus {
        outline: none;
    }

    .flex-slim {
        flex-grow: 0;
        flex-basis: 0;
    }

    .center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    }
    @media screen and (min-width: 500px) {
        .page {
            background-image: url('../assets/referal-bg.png')
        }
    }
    .page {
        height: 100%;
        width: 100%;
        background-size:cover;

    }
</style>