<template>
    <div class="page">
    <v-container fluid>
        <v-layout>
            <flex-center>
                <v-breadcrumbs>
                    <v-breadcrumbs-item @click.native="$router.push({path:'/'})" style="font-size: 14pt;">
                        {{$t('menu.mainpage')}}
                    </v-breadcrumbs-item>
                    <v-breadcrumbs-item disabled style="font-size: 18pt;">
                        {{$t('menu.openedcases')}}
                    </v-breadcrumbs-item>
                </v-breadcrumbs>
            </flex-center>
        </v-layout>
        <v-layout>
            <flex-center>
                <v-data-table
                        :headers="headers"
                        :items="page"
                        :loading="isPageLoading"
                        hide-actions
                        no-data-text=""
                        class="elevation-1"
                >
                    <template slot="headerCell" slot-scope="props">
                        <v-tooltip bottom>
          <span slot="activator">
            {{ props.header.text }}
          </span>
                            <span>
            {{ props.header.text }}
          </span>
                        </v-tooltip>
                    </template>
                    <template slot="items" slot-scope="props">
                        <td class="pl-2 pr-0" :style="'background-color:#'+props.item.class.color">
                            <img height="40" :src="props.item.class.iconUrl">
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-center pl-2 pr-0">
                            <form target="_blank" action='https://api.random.org/verify' method='post'>
                                <input type='hidden' name='format' value='json'/>
                                <input type='hidden' name='random'
                                       :value="JSON.stringify(props.item.random)"/>
                                <input type='hidden' name='signature'
                                       :value="props.item.signature"/>
                                <v-btn type="submit" flat class="px-0 ma-0" style="min-width: 50px;">
                                    {{ props.item.serialNumber }}
                                </v-btn>
                            </form>
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-left pr-0">
                            {{ props.item.class.weapon }}
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-left pr-0">
                            {{ props.item.class.name }}
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-left hidden-md-and-down">
                            {{props.item.class.exterior }}
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-left px-0 hidden-md-and-down">
                            <v-btn @click="$router.push({name:'inventory', query:{user:props.item.ownerId}})" flat style="height: 30px; font-size: 12px;">
                                {{ props.item.owner.name }}
                            </v-btn>
                        </td>
                        <td :style="'background-color:#'+props.item.class.color" class="text-xs-left px-0">
                            <v-btn :style="'color:'+props.item.case.color" class="px-0 mx-0" flat @click="$router.push({name:'opencase', query:{case:props.item.caseId}})" style="height: 30px; font-size: 12px;">
                                {{ props.item.case.name }}
                            </v-btn></td>
                    </template>
                </v-data-table>
            </flex-center>
        </v-layout>
        <v-layout>
            <flex-center>
               <v-toolbar class="elevation-0" style="background: transparent;">
                   <v-btn :disabled="pageN===1" @click="pageN = 1; loadPage(1);" class="elevation-3" style="height: 35px; width: 35px; background-color: #3B3B3B; border-radius:30px;">
                       {{$t('casestable.begin')}}
                   </v-btn>
                   <v-btn :disabled="pageN===1 || isPageLoading" @click="pageN--;loadPage(pageN)" class="elevation-3" style="height: 35px; width: 35px; background-color: #3B3B3B" fab>
                       <v-icon>
                           keyboard_arrow_left
                       </v-icon>
                   </v-btn>
                   <span class="font-weight-light title">{{this.pageN}}</span>
                   <v-btn :disabled="!hasMore || isPageLoading" @click="pageN++;loadPage(pageN)" class="elevation-3" style="height: 35px; width: 35px; background-color: #3B3B3B" fab>
                       <v-icon>
                           keyboard_arrow_right
                       </v-icon>
                   </v-btn>
                   <v-btn :disabled="isPageLoading" @click="loadPage(pageN)" class="elevation-3" style="height: 35px; width: 35px; background-color: #3B3B3B" fab>
                       <v-icon>
                           refresh
                       </v-icon>
                   </v-btn>
               </v-toolbar>
            </flex-center>
        </v-layout>
    </v-container>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import FlexCenter from "../components/FlexCenter";
    import axios from 'axios';
    import Skin from "../models/Skin";

    @Component({
        name: "SkinsTableView",
        components: {FlexCenter}
    })
    export default class SkinsTableView extends Vue {
        headers = [];

        pageN = 1;
        perPageCount = 8;

        isPageLoading = true;
        hasMore = false;
        page = [];

        mounted(){
            this.headers = [
                {text: '', sortable:false },
                {text: this.$i18n.t('casestable.number'), sortable:false, class:["pl-3","pr-0"]},
                {text: this.$i18n.t('casestable.weapon'), sortable:false, class:["pr-0"]},
                {text: this.$i18n.t('casestable.name'), sortable:false},
                {text: this.$i18n.t('casestable.exterior'), sortable:false, class:"hidden-md-and-down"},
                {text: this.$i18n.t('casestable.user'), sortable:false, class:"hidden-md-and-down"},
                {text: this.$i18n.t('casestable.case'), sortable:false, class:["pr-2"]},
            ];
            this.$store.dispatch('getCasesInfo').then(cases=>{
                this.loadPage(1);
            });
        }

        shortExterior(ext:string){
            switch (ext) {
                case "Well-Worn": return "WW";break;
                case "Battle-Scarred": return "BS";break;
                case "Minimal Wear": return "MW";break;
                case "Field-Tested": return "FT";break;
                case "Factory New": return "FN";break;

                default: return ext;
            }
        }

        async loadPage(n:number){
            this.isPageLoading = true;
            axios.post(this.$store.state.config.apiUrl+"/store/randomResults", {
                count:this.perPageCount,
                offset: this.perPageCount * (n-1)
            }).then(async res=>{
                this.page = [];
                if(res.data.data.length == this.perPageCount)
                    this.hasMore = true;
                else
                    this.hasMore = false;

                for(let r of res.data.data){
                    let skin = r;
                    console.log(r);
                    skin.case = await this.$store.dispatch("getCase", skin.caseId);
                    skin.random = {
                        method:"generateSignedIntegers",
                        hashedApiKey:skin.hashedApiKey,
                        n:1,
                        min:skin.rangeFrom,
                        max:skin.rangeTo,
                        replacement:true,
                        base:10,
                        data:[skin.number],
                        completionTime:skin.completionTime.replace('T',' ')+"Z",
                        serialNumber:skin.serialNumber
                    };
                    console.log(skin.random);
                    if(skin.class.color == 'b0c3d9') {
                        skin.class.color = '424242';
                    }else{
                        skin.class.color = skin.class.color+"55";
                    }

                    if(skin.class.weapon.startsWith("★")){
                        skin.class.color = "000011"
                    }
                    this.page.push(r);
                }
                this.isPageLoading = false;
            }).catch(await this.$store.dispatch('handleNetError'));
        }
    }
</script>
<style scoped>
    @media screen and (min-width: 500px) {
        .page {
            background-size: cover;
            background-image: url("../assets/skinstable-bg.png")
        }
    }
    .page{
        height:100%;
    }
</style>