<template>
    <v-card>
        <v-progress-linear color="red" :indeterminate="isTradelinkAssigning"></v-progress-linear>
        <v-card-title class="font-weight-thin title pt-1">
                    <span>
                        {{$t('modals.tradelink.tooltip')}}
                        <span @click="$router.push({name:'faq'})" style="cursor: pointer; color:#FE5858;" class="font-weight-regular"> {{$t('modals.tradelink.faq')}}</span>
                    </span>
        </v-card-title>
        <v-text-field v-model="tradelink" outline :label="$t('modals.tradelink.link')" class="px-3">

        </v-text-field>
        <v-card-actions class="mx-2">
            <v-btn @click="openTradepage" outline color="success">
                {{$t('modals.tradelink.getlink')}}
            </v-btn>
            <v-spacer/>
            <v-btn @click="$store.state.modals.tradelink = false" flat color="warning">
                {{$t('modals.tradelink.later')}}
            </v-btn>
            <v-btn @click="assignTradelink" :disabled="!isValidTradelink" flat color="success">
                {{$t('modals.tradelink.connect')}}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        name: "AssignTradeLinkModal"
    })
    export default class AssignTradeLinkModal extends Vue {
        tradelink: string = "";
        isTradelinkAssigning = false;

        openTradepage() {
            window.open("https://steamcommunity.com/profiles/" + this.$store.state.user.steamId64String + "/tradeoffers/privacy");
        }

        get isValidTradelink() {
            return /https:\/\/steamcommunity\.com\/tradeoffer\/new\/\?partner=([0-9]+)&token=(.{8})$/g.exec(this.tradelink) != undefined;
        }

        assignTradelink() {
            this.isTradelinkAssigning = true;
            const tl = this.tradelink;
            let match = /https:\/\/steamcommunity\.com\/tradeoffer\/new\/\?partner=([0-9]+)&token=(.{8})$/g.exec(tl);
            console.log(match[2]);
            this.$store.state.axios.post("/user/assignTradelink", {
                token: this.$store.getters.token,
                SteamId32: match[1] as number,
                tradeToken: match[2]
            }).then(res => {
                this.isTradelinkAssigning = false;
                if (res.data.result === "ok") {
                    this.$store.dispatch('showNote', {
                        text: this.$i18n.t("modals.tradelink.success"),
                        color: "success"
                    });
                    this.$store.state.modals.tradelink = false;
                } else if(res.data.result=="foreign") {
                    this.$store.dispatch('showNote', {
                        text: this.$i18n.t("modals.tradelink.foreign"),
                        color: "error"
                    });
                } else {
                    //let message;
                    this.$store.dispatch('showNote', {
                        text: this.$i18n.t("modals.tradelink.failure") + ":" + res.data.data,
                        color: "error"
                    });
                }
            });
        }
    }
</script>
<style scoped>
</style>