<template>
    <v-card @click="expand()"
            :class="success?'success-page':'failed-page'"
            style="border-radius:10px; background-size: cover;">
        <div style="height: 150px;">
            <div class="font-weight-light title text-xs-center pt-3 pb-3" style="width: 100%">
                        <span v-if="success">
                            {{$t('modals.postpayment.success')}}
                        </span>
                <span v-else>
                          {{$t('modals.postpayment.failure')}}
                            <span class="theme--text font-weight-regular" style="cursor: pointer;"
                                  @click="$store.state.VKWidget.expand()">{{$t('modals.postpayment.support')}}</span>
                        </span>
            </div>
        </div>
        <v-card-actions>
            <v-spacer/>
            <v-btn flat @click="$store.state.modals.postPayment = false">
                {{$t('modals.postpayment.ok')}}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        name: "PostPaymentModal",
        props:["success"]
    })
    export default class PostPaymentModal extends Vue {
        success:boolean;
    }
</script>
<style scoped>
    .success-page{
        background-image: url("../../assets/posttopup-success.png");
    }
    .failed-page{
        background-image: url("../../assets/posttopup-failed.png");
    }
</style>