<template>
    <v-card style="background-image: url('images/soldbg.png'); background-size:cover;">
        <v-progress-linear :indeterminate="$store.state.modals.sellSkin.isSelling" color="theme" class="ma-0">

        </v-progress-linear>
        <div style="width: 100%" class="font-weight-thin title text-xs-right pr-4 pt-3">
            {{$t('modals.sell.sellfor')}}
            <span class="display-1 font-weight-thin">{{this.$store.state.modals.sellSkin.case.price*0.9}}₽</span>
        </div>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="$store.state.modals.sellSkin.isVisible = false" flat>
                {{$t('modals.sell.cancel')}}
            </v-btn>
            <v-btn @click="sell($store.state.modals.sellSkin.skin.onSell)" color="success" flat>
                {{$t('modals.sell.sell')}}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        name: "SellSkinModal"
    })
    export default class SellSkinModal extends Vue {
        async sell(callback: Function) {
            this.$store.state.modals.sellSkin.isSelling = true;
            var res = await this.$store.state.axios.post("/user/sellSkin", {
                itemId: this.$store.state.modals.sellSkin.skin.itemId
            });
            if (res.data.result == "ok") {
                callback(this.$store.state.modals.sellSkin.skin);
                this.$store.commit('setBalance', this.$store.state.user.balance + this.$store.state.modals.sellSkin.case.price * 0.9);
                this.$store.dispatch('showNote', {
                    text: this.$i18n.t("modals.sell.success"),
                    color: "success"
                });
            } else {
                this.$store.dispatch('showNote', {
                    text: this.$i18n.t("modals.sell.failure"),
                    color: "error"
                });
            }
            this.$store.state.modals.sellSkin.isSelling = false;
            this.$store.state.modals.sellSkin.isVisible = false;
        }
    }
</script>
<style scoped>
</style>