<template>
    <v-card style="background-color: #303030; height: 260px;" class="px-3">
        <div class="font-weight-thin headline mt-2 pt-3" style="height: 54px; text-align: center">
            {{$t("modals.topup.topup")}}
        </div>
        <v-text-field
                class="mx-3 mb-1"
                v-model="topupAmount"
                height="35"
                mask="#########"
                :label="$t('modals.topup.amount')"
                suffix="RUB"
                required
        ></v-text-field>

        <div style="width: 100%;" class="font-weight-light subheading px-4 mb-4">
            {{$t("modals.topup.changecur")}}
        </div>
        <v-card-actions>
            <v-spacer/>
            <v-btn @click="$store.state.modals.topUp = false" flat>
                {{$t("modals.topup.cancel")}}
            </v-btn>
            <v-btn @click="topup()" color="success">
                {{$t("modals.topup.pay")}}
            </v-btn>
        </v-card-actions>
    </v-card>

</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import md5 from '../../Md5'
    import Case from "../../models/Case";
    @Component({
        name: "TopUpModal",
        components: {}
    })
    export default class TopUpModal extends Vue {
        topupAmount: Number = null;

        topup() {
            let user = this.$store.state.user.userId;
            let key = "80537:" + this.topupAmount + ":h9gl3bkm:" + user;
            window.location.href=("https://www.free-kassa.ru/merchant/cash.php?" +
                "m=80537" +
                "&oa=" + this.topupAmount +
                "&o=" + user +
                "&s=" + md5(key).toLowerCase());
        }
    }
</script>

<style scoped>

</style>