<template>
    <span>
        <span v-if="this.animatedNumber!=-1">
            {{(this.animatedNumber/100).toFixed(this.prec)}}
        </span>
        <v-icon v-else class="blink">
            more_horiz
        </v-icon>
    </span>
</template>
<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({
        name: "animated-number",
        watch:{
            value(n) {
                this.update(n);
            }
        },

    })
    export default class AnimatedNumber extends Vue {
        @Prop(Number) value;
        @Prop(Number) prec;

        tweenedNumber:number = -1;

        update(n){
            TweenLite.to(this.$data, 1, {tweenedNumber:n*100});
        }

        mounted(){
            this.update(this.value);
        }

        get animatedNumber(){
            return this.tweenedNumber.toFixed(0);
        }
    }
</script>
<style scoped>
</style>