<template>
    <v-card
            :style="'width: 300px; margin: auto; border-color: '+this.caseInfo.color+'; border-style:solid;'"
            class="mt-3 case elevation-12">
        <v-card-title>
            <div>
                <span v-click-to-copy="(el, vnode)=>('Gaincase.com '+el.innerText.replace(' ','')+' отзывы')" class="display-1 font-weight-light" :style="'color:'+this.caseInfo.color">{{this.caseInfo.name}} case</span><br>
                <table>
                    <tr>
                        <td>
                            <v-icon color="green">
                                trending_up
                            </v-icon>
                        </td>
                        <td class="title font-weight-thin">
                            {{$t('case.increeseupto')}} {{Math.round(caseInfo.maxPrice/caseInfo.price*100)}}%
                            {{$t('case.increese')}}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18pt; text-align: center;" class="green--text">
                            ₽
                        </td>
                        <td class="title font-weight-thin">
                            {{$t('case.skinsfrom')}} {{caseInfo.minPrice}} {{$t('case.skinsto')}} {{caseInfo.maxPrice}}
                            ₽
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <v-icon color="green">
                                report_problem
                            </v-icon>
                        </td>
                        <td class="title font-weight-thin">
                            {{$t('case.withoutlose')}}
                        </td>
                    </tr>
                </table>
            </div>
        </v-card-title>
        <div style="margin-top: -60px; margin-left: 20px;">
            <img draggable="false" width="260" class="mt-4" :src="this.caseInfo.iconUrl"/>
        </div>

        <v-divider v-if="caseInfo.available" :style="'background-color:'+this.caseInfo.color"/>
        <v-card-actions>
            <template v-if="caseInfo.available">
                <span class="font-weight-light display-1 ml-2">{{this.caseInfo.price}}₽</span>
                <v-spacer/>
                <v-btn @click="$router.push({name:'opencase', query:{case: caseInfo.caseId}})" outline color="success">
                    {{$t('case.buy')}}
                </v-btn>
            </template>
            <flex-center v-else>
                <span class="font-weight-light orange--text display-1 mr-1">
                {{$t('case.sold')}}
            </span>
            </flex-center>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Case from '../models/Case'
    import FlexCenter from "./FlexCenter";

    @Component({
        components: {FlexCenter},
        name: "case",
        props: {
            caseInfo: Object
        }
    })
    export default class Case extends Vue {
        caseInfo: Case;
    }
</script>

<style scoped>
    .case:hover {
        box-shadow: white 0px 0px 10px;
    }

    .case {
        box-shadow: none;
        transition-duration: 300ms;
    }
</style>