<template>
        <v-layout column align-center  fill-height class="pa-0 ma-0">
            <div style="display: flex; flex-direction: row; justify-items: center; height: 100%">
                <div style="display: flex; align-self: center">
                    <slot name="default"></slot>
                </div>
            </div>
        </v-layout>
</template>

<script>
    export default {
        name: "flex-center"
    }
</script>

<style scoped>

</style>