<template>
    <div
            id="g-recaptcha"
            class="g-recaptcha"
            :data-sitekey="sitekey">
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import{Lifecycle} from 'av-ts';

    @Component({
        components: {},
        name: "G-Recaptcha",
        props:{
            sitekey:String,
            widgedid:Number
        }
    })
    export default class GRecaptcha extends Vue {
        sitekey:String;
        widgetId:Number;

        RenderCaptcha () {
            if (window.grecaptcha != undefined) {
                this.widgetId = window.grecaptcha.render('g-recaptcha', {
                    sitekey: this.sitekey,
                    size: 'normal',
                    // the callback executed when the user solve the recaptcha
                    callback: (response) => {
                        // emit an event called verify with the response as payload
                        this.$emit('verify', response)
                        // reset the recaptcha widget so you can execute it again
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
