<template>
        <flex-center>
            <v-card class="icon" :style="'width:'+size+'px;height:'+size+'px;'">
                <img :width="size-8" style="transition-duration: 200ms;" class="ma-1"
                     :src="src"/>
            </v-card>
        </flex-center>
</template>

<script>
    import FlexCenter from './FlexCenter'
    export default {
        components:{
            FlexCenter
        },
        name: "InventoryIcon",
        props:['size', 'src']
    }
</script>

<style scoped>
    .icon {
        background-color: #F25151;
        transition-duration: 200ms;
        border-radius: 80px;
    }
</style>