<template>
    <transition-group class="livedrop-toolbar elevation-0"
                      name="list-complete" tag="v-toolbar">
        <v-tooltip class="list-complete-item" :key="ld.resultId" v-for="ld in $store.state.liveDropSkins"
                   bottom>
            <v-btn slot="activator"
                   @click="$router.push({name:'inventory', query:{user:ld.ownerId}})"
                   class="livedrop-card mx-0 elevation-0"
                   style="height: 82px; width: 120px; margin-top: -10px; background-color: transparent">
                <transition name="fade">
                    <img draggable="false" height="80"
                         style="position: absolute; margin-top: -2px; margin-left: 0px; transition-duration: 300ms;"
                         :src="ld.class.iconUrl"/>
                </transition>
                <div :style="'border-color:#'+ld.class.color" class="livedrop-circle">

                </div>
            </v-btn>
            <table class="mx-2">
                <tr>
                    <td>
                        <v-icon style="color:#2196F3">
                            how_to_reg
                        </v-icon>
                    </td>
                    <td class="title font-weight-thin">
                        {{ld.owner.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <v-icon :style="'color:'+ld.case.color">
                            unarchive
                        </v-icon>
                    </td>
                    <td :style="'color:'+ld.case.color" class="title font-weight-thin">
                        {{ld.case.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <v-icon :style="'color: #'+ld.class.color+';'">
                            format_paint
                        </v-icon>
                    </td>
                    <td class="title font-weight-regular" :style="'color:#'+ld.class.color">
                        {{ld.class.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <v-icon style="color:teal">
                            brightness_medium
                        </v-icon>
                    </td>
                    <td class="title font-weight-thin">
                        {{ld.class.exterior}}
                    </td>
                </tr>
                <tr v-if="ld.price!=undefined">
                    <td>
                        <v-icon color="blue">
                            shopping_cart
                        </v-icon>
                    </td>
                    <td class="title font-weight-thin">
                        {{Math.round(ld.price)}}₽
                    </td>
                </tr>
                <tr v-if="ld.price!=undefined">
                    <td>
                        <v-icon color="green">
                            trending_up
                        </v-icon>
                    </td>
                    <td class="title font-weight-thin">
                        {{Math.round(ld.price/ld.case.price*100)}}%
                    </td>
                </tr>
                <tr v-if="ld.state=='Virtual'">
                    <td>
                        <v-icon style="color:#2196F3">
                            card_giftcard
                        </v-icon>
                    </td>
                    <td class="title font-weight-thin">
                        Тестовый режим
                    </td>
                </tr>
            </table>
        </v-tooltip>
    </transition-group>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        name: "LiveDrop"
    })
    export default class LiveDrop extends Vue {

    }
</script>
<style scoped>
</style>
<style>
    .livedrop-circle {
        height: 55px;
        width: 55px;
        border-radius: 50px;
        border-width: 3px;
        margin-top: 0px;
        margin-left: 4px;
        border-style: solid;
        background-color: #FFFFFF11;
    }
    .livedrop-toolbar .v-toolbar__content {
        padding-right: 0;
        height: 82px !important;
        margin-left: -12px;
        margin-top: 18px;
        padding-top: 18px;
        box-shadow: #242424 6px 4px 1px
    }
</style>