<template>
    <v-card @mouseover="Over" @mouseleave="Left" :style="'box-shadow: #FE5858 0px 0px '+(mouseOver?8:0)+'px'"
            class="item-card">
        <span style="display: none">{{$t('none')}}updater</span>

        <div style="background-color: #3d3d3d; height: 180px; width: 200px;">
            <!--<div style="position: absolute; height: 180px; width: 200px; opacity: 0.2; filter: saturate(1.2)"  :style="'background-color: #'+this.info.name_Color"></div>-->
            <v-toolbar class="slim-toolbar" flat style="background-color: transparent; height: 34px;">
                <v-spacer/><!-- v-if="!info.isOwner"-->
                <div>
                    <div v-click-to-copy.text class="ml-2  body-2" :style="'color:#'+this.info.class.color"
                         style="margin-top: -8px; text-align: center">
                        {{this.info.class.name}}<br/>
                        {{this.info.class.isTarget}}
                    </div>
                    <div class="ml-2 font-weight-thin body-2" style="text-align: center">
                        {{this.info.class.exterior}}
                    </div>
                </div>
                <v-spacer/>
                <div style="height: 50px;">
                    <v-tooltip max-width="180" v-if="info.result !== undefined" left>
                        <form slot="activator" target="_blank" action='https://api.random.org/verify' method='post'>
                            <input type='hidden' name='format' value='json'/>
                            <input type='hidden' name='random'
                                   :value="JSON.stringify(random)"/>
                            <input type='hidden' name='signature'
                                   :value="info.result.signature"/>
                            <v-btn type="submit"
                                   style="width: 26px; height: 24px; margin-top: -2px;" flat fab>
                                <v-icon color="green" style="font-size: 21px;">
                                    done_all
                                </v-icon>
                            </v-btn>
                        </form>
                        {{$t('card.checktruthtooltip')}}
                    </v-tooltip>
                    <br/>
                    <v-tooltip max-width="180" v-if="info.state === 'Owned'" left>
                        <v-btn slot="activator" @click="openPreviewOnSteam()"
                               style="width: 26px; height: 19px; margin-top: -48px;" flat fab>
                            <v-icon color="blue" style="font-size: 21px;">
                                visibility
                            </v-icon>
                        </v-btn>
                        {{$t('card.checktooltip')}}
                    </v-tooltip>
                </div>
                <!--<v-btn v-if="info.isOwner" style="width: 26px; height: 26px; margin-top: -5px;" class="mr-2" flat fab>
                    <v-icon>
                        more_vert
                    </v-icon>
                </v-btn>-->
            </v-toolbar>

            <img draggable="false" @select.prevent.stop height="100"
                 style="margin-top: 12px;margin-left: 36px; margin-bottom: -22px" :src="info.class.iconUrl"/>

            <v-divider class="mt-3" style="border-top-width: medium;"
                       :style="'border-color:#'+this.info.class.color"></v-divider>
            <div style="position: absolute; height: 70px; bottom: 34px; width:70px;">
                <svg style="height: 70px; width: 70px;">
                    <polygon points="0,30 0,70 40,70" :fill="'#'+info.class.color"></polygon>
                    <polygon v-if="info.class.statTrak" points="0,0 0,30 40,70 70,70"
                             :fill="'#'+info.class.color"></polygon>
                </svg>
            </div>
            <div v-if="this.info.class.statTrak" class="stattrak-div font-weight-bold">
                StatTrak™
            </div>
            <v-card-actions class="px-1" style="height: 20px; margin-top: 10px">
                <div v-if="info.isOwner" style="margin-top: -2px;">
                    <v-tooltip max-width="160" right>
                        <v-btn style="height: 24px; width:24px; margin-top: -8px;" slot="activator" flat
                               @click="$store.dispatch('openSellModal', info)"
                               v-if="info.state === 'Owned' || info.state === 'Pending'" fab>
                            <v-icon style="color:#F25151; font-size:24px;">
                                attach_money
                            </v-icon>
                        </v-btn>
                        <span>{{$t('card.selltooltip')}}</span>
                    </v-tooltip>
                    <v-tooltip v-if="info.state === 'Departed'" max-width="160" right>
                        <v-icon class="info--text" slot="activator" style=" font-size:24px;">
                            call_missed_outgoing
                        </v-icon>
                        <span>Предмет был отправлен в Ваш инвентарь</span>
                    </v-tooltip>
                    <v-tooltip v-if="info.state === 'Sold'" max-width="160" right>
                        <v-icon class="info--text" slot="activator"
                                style="margin-top: -5px; font-size:24px;">
                            attach_money
                        </v-icon>
                        <span>Предмет был продан</span>
                    </v-tooltip>

                    <v-tooltip max-width="160" top>
                        <v-btn flat v-if="info.state === 'Pending'" fab slot="activator" class="warning--text"
                               style="height: 22px; width: 22px; margin-top: -8px;">
                            <v-icon style="font-size: 22px;">
                                query_builder
                            </v-icon>
                        </v-btn>
                        <span>{{$t('card.pendingtooltip')}}</span>
                    </v-tooltip>

                    <v-btn @click="claim" flat
                           v-if="info.state === 'Owned' && (Date.now()>Date.parse(info.unlockStamp))"
                           style="height: 20px;font-size: 11px; margin-top: -6px;" class="success--text">
                        {{$t('card.get')}}
                    </v-btn>
                    <v-tooltip max-width="160" top>
                        <v-btn v-if="info.state === 'Owned' && Date.now()<Date.parse(info.unlockStamp)"
                               class="font-weight-regular warning--text" flat
                               slot="activator"
                               style="font-size: 10px; height: 20px; margin-top:-8px; max-width: 60px;">
                            {{this.moment(this.info.unlockStamp).fromNow()}}
                        </v-btn>
                        <span>{{$t('card.bantooltip')}}</span>
                    </v-tooltip>

                </div>
                <v-tooltip v-else-if="info.state === 'Departed'" max-width="160" top>
                    <span class="info--text"
                          slot="activator"
                          style="font-size: 16px; padding-bottom: 4px; padding-right: 12px; ">
                            {{$t('card.departed')}}
                    </span>
                    <span>{{$t('card.departedtooltip')}}</span>
                </v-tooltip>
                <div v-else-if="info.state === 'Tradable'">
                    <v-tooltip max-width="160" top>
                        <v-btn outline color="success"
                               slot="activator"
                               style="height: 20px; width: 192px; margin-top: -8px; font-size: 8pt;">
                            {{$t('card.exteriors')}}
                        </v-btn>
                        <span>{{$t('card.exteriorstooltip')}}</span>
                    </v-tooltip>
                </div>
                <div v-else-if="info.state === 'Pending'">
                    <v-tooltip max-width="180" top>
                        <v-btn slot="activator" outline color="warning"
                               style="height: 20px; font-size: 8pt; margin-top: -10px;">
                            {{$t('card.sold')}}
                        </v-btn>
                        <span>{{$t('card.soldtooltip')}}</span>
                    </v-tooltip>
                </div>
                <v-spacer/>
                <div v-if="info.state !== 'Tradable'" class="font-weight-thin title" fab
                     style="height: 20px; margin-top:-8px;"
                     flat>
                    <v-tooltip max-width="180" left>
                        <span slot="activator">{{this.info.price}}₽</span>
                        {{$t('card.pricetooltip')}}
                    </v-tooltip>
                </div>
                <v-spacer v-if="!info.isOwner"/>
            </v-card-actions>
        </div>
    </v-card>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Skin from "../models/Skin";
    import m from 'moment';

    @Component({
        name: "SkinCard",
        props: ["info"],
    })
    export default class SkinCard extends Vue {
        info: Skin;
        moment = m;
        canClaim = true;
        random: any;
        mouseOver: boolean = false;

        Over() {
            this.mouseOver = true;
        }

        Left() {
            this.mouseOver = false;
        }

        async claim() {
            if (this.$store.state.user.hasTradeLink) {
                this.canClaim = false;
                this.$store.dispatch('showNote', {text: this.$i18n.t("inventory.claimstart"), color: "info"});
                try {
                    var result = await this.$store.state.axios.post('/user/claimItem', {ItemId: this.info.itemId});
                    if (result.data.result == "ok") {
                        this.$store.dispatch('showNote', {
                            text: this.info.class.name + this.$i18n.t("inventory.claimsuccess"),
                            color: "success"
                        });
                        this.canClaim = true;
                        this.info.isDeparted = true;
                    } else {
                        throw null;
                    }
                } catch (e) {
                    this.$store.dispatch('showNote', {text: this.$i18n.t("inventory.claimfailure"), color: "error"});
                }
            } else {
                this.$store.state.modals.tradelink = true;
            }
        }

        sellCallback() {

        }

        async beforeMount() {
            if (this.info.result != undefined) {
                this.info.case = await this.$store.dispatch("getCase", this.info.caseId);
                this.random = {
                    method: "generateSignedIntegers",
                    hashedApiKey: this.info.result.hashedApiKey,
                    n: 1,
                    min: this.info.result.rangeFrom,
                    max: this.info.result.rangeTo,
                    replacement: true,
                    base: 10,
                    data: [this.info.result.number],
                    completionTime: this.info.result.completionTime.replace('T', ' ') + "Z",
                    serialNumber: this.info.result.serialNumber
                };
                this.$forceUpdate()
            }
        }

        openPreviewOnSteam() {
            if (!this.info.isSold)
                window.open('https://steamcommunity.com/profiles/' + this.info.botSteamId64String + '/inventory/#730_2_' + this.info.assetId)
        }
    }
</script>

<style>
    .stattrak-div {
        position: absolute;
        font-size: 10pt;
        left: -4px;
        transform: rotateZ(45deg);
        top: 112px;
        color: white;
    }

    .item-card {
        user-select: none;
        transition-duration: 300ms;
    }

    .slim-toolbar .v-toolbar__content {
        padding: 0;
    }
</style>