<template>
    <v-app style="user-select: none;" dark>
        <!--PRELOAD-->
        <img style="display: none" src="./assets/rcorner.png"/>
        <img style="display: none" src="./assets/lcorner.png"/>
        <!--/PRELOAD-->

        <v-toolbar class="right-slim-toolbar" app fixed flat clipped-left dark>
            <!--Menu button-->
            <v-toolbar-side-icon @click="menuButtonClick()">
                <v-icon>menu</v-icon>
            </v-toolbar-side-icon>
            <!--Logo-->
            <v-spacer class="hidden-sm-and-up"/>
            <v-btn @click="$router.push({path:'/'})" flat>
                <span style="font-size: 30px; margin-top: -4px;">GAINCASE.com</span>
            </v-btn>

            <img height="110" class="hidden-xs-only" src="./assets/livedrop-corner.png"/>
            <LiveDrop class="hidden-xs-only livedrop" style="background-color: #303030;"/>
            <v-spacer></v-spacer><!-- border: solid #5554d4; border-width: 0 0 4px 0;-->
            <v-spacer class="hidden-sm-and-up"></v-spacer>
        </v-toolbar>
        <!--Dialogs end-->
        <v-navigation-drawer ref="drawer"
                             :mini-variant="isDrawerMini" mini-variant-width="82" clipped app fixed width="320"
                             v-model="isDrawerVisible">
            <div style="transition-duration: 400ms;"
                 :class="($store.state.isLogged)?'left-drawer-logged':'left-drawer'">
                <div @click="expandDrawer()" v-if="$store.state.isLogged" class="pr-0">
                    <div style="visibility: hidden;">hack XD</div>
                    <v-toolbar class="toolbar-without-padding" flat
                               style="margin-top: 20px; background-color: transparent; margin-left: 16px">
                        <transition name="fade">
                            <v-card :class="isDrawerMini?'icon-holder-small elevation-10':'icon-holder-big elevation-10'"
                                    :style="'background-color: #'+($store.state.user!=null?'F25151;':'303030')">
                                <img v-if="$store.state.user!=null"
                                     :style="'transition-duration: 200ms;width:'+(isDrawerMini?50:70)+'px'" class="ma-1"
                                     :src="$store.state.user.iconUrl"/>
                                <flex-center v-else>
                                    <v-progress-circular indeterminate color="red"></v-progress-circular>
                                </flex-center>
                            </v-card>
                        </transition>

                    </v-toolbar>
                    <v-toolbar flat class="toolbar-without-padding ml-3"
                               style="width: 294px; margin-top: 10px; background-color: transparent;">
                        <div v-if="$store.state.user!=null">
                            <div style="font-size:12pt; transition-duration: 200ms;"
                                 :style="'margin-left:'+(isDrawerMini?'70px':'0px')">
                                {{this.$store.state.user.name}}
                            </div>
                            <div style="font-size:12pt; transition-duration: 200ms; width: 80px;"
                                 :style="(isDrawerMini?'margin-left:-16px;':'margin-left:-6px;')">
                                <flex-center>
                                    <animated-number :prec="2" :value="$store.state.user.balance"/>
                                    <span v-if="!isDrawerMini">
                                    ₽
                                </span>
                                </flex-center>
                            </div>
                        </div>

                        <v-spacer/>
                        <v-tooltip right>
                            <v-btn flat fab slot="activator"
                                   @click="$store.dispatch('logout'); $router.push({name:'home'})">
                                <v-icon>
                                    input
                                </v-icon>
                            </v-btn>
                            <span>{{$t('menu.logouttooltip')}}</span>
                        </v-tooltip>
                    </v-toolbar> <!--Drawer toolbar-->
                </div>
                <!--Login button-->
                <v-btn flat
                       v-else
                       @click="$store.dispatch('login')"
                       slot="activator"
                       class="login-button"
                       style="">
                    <img height="76px" src="./assets/login-btn.png"/>
                </v-btn>
            </div>
            <v-list dense>
                <v-list-tile
                        @click="$router.push({name:'home', params:{directly:'true'}}); collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            unarchive
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        {{$t("menu.cases")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Cases-->
                <v-list-tile v-show="$store.state.isLogged"
                             @click="$router.push({name:'inventory'}); collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            apps
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        {{$t("menu.inventory")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Inventory-->
                <v-list-tile @click="$store.state.modals.topUp = true; collapseDrawer();"
                             v-show="$store.state.isLogged">
                    <v-list-tile-action>
                        <v-icon>
                            account_balance_wallet
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content style="white-space: nowrap">
                        {{$t("menu.addcash")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Add cash-->
                <v-list-tile @click="$router.push({name:'skinstable'}); collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            query_builder
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content style="white-space: nowrap">
                        {{$t("menu.openedcases")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Contacts-->
                <v-list-tile @click="$router.push({name:'referal'}); collapseDrawer();"
                             v-show="$store.state.isLogged">
                    <v-list-tile-action>
                        <v-icon>
                            record_voice_over
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content style="white-space: nowrap">
                        {{$t("menu.ref")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Referal-->
                <v-divider v-show="$store.state.isLogged"/>

                <v-list-tile @click="$router.push({name:'faq'});collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            contact_support
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        {{$t("menu.faq")}}
                    </v-list-tile-content>
                </v-list-tile> <!--FAQ-->
                <v-list-tile @click="openReviews(); collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            favorite
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        {{$t("menu.reviews")}}
                    </v-list-tile-content>
                </v-list-tile> <!--Reviews-->
                <v-divider/>
                <!-- <v-list-group
                         v-model="languageGroupExpand">
                     <v-list-tile
                             slot="activator">
                         <v-list-tile-action>
                             <v-icon>
                                 language
                             </v-icon>
                         </v-list-tile-action>
                         <v-list-tile-content>
                             {{$t("menu.lang")}}
                         </v-list-tile-content>
                     </v-list-tile>
                     <v-list-tile @click="onRussianLangClick()">
                         <v-list-tile-action>
                             <img height="20" width="30" src="https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg"/>
                         </v-list-tile-action>
                         <v-list-tile-content>
                             Русский
                         </v-list-tile-content>
                     </v-list-tile>
                     <v-list-tile lang="ru" @click="onEnglishLangClick()">
                         <v-list-tile-action>
                             <img height="20" width="30" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"/>
                         </v-list-tile-action>
                         <v-list-tile-content>
                             English
                         </v-list-tile-content>
                     </v-list-tile>
                 </v-list-group>--> <!--Language-->
                <!--<v-list-tile @click="collapseDrawer();$router.push({name:'agreement'})">
                    <v-list-tile-action>
                        <v-icon>
                            subject
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content style="white-space: nowrap">
                        {{$t("menu.termsofuse")}}
                    </v-list-tile-content>
                </v-list-tile>--> <!--Terms of use-->
                <v-list-tile @click="$store.state.VKWidget.expand(); collapseDrawer();">
                    <v-list-tile-action>
                        <v-icon>
                            report_problem
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content style="white-space: nowrap">
                        {{$t("menu.help")}}
                    </v-list-tile-content>
                </v-list-tile> <!--techhelp-->
            </v-list>
        </v-navigation-drawer>
        <v-content>
            <transition @after-leave="transitionEntered" name="fade">
                <router-view :key="$route.name+$route.query['user']+$route.query['case']" fill-height></router-view>
            </transition>
        </v-content>
        <v-snackbar :color="$store.state.notificationColor" :timeout="3000"
                    v-model="$store.state.isNotificationVisible">
            {{this.$store.state.notificationText}}
        </v-snackbar>
        <!--Dialogs-->
        <v-dialog v-model="$store.state.modals.topUp" max-width="320">
            <TopUpView/>
        </v-dialog> <!--TopUp-->
        <v-dialog persistent v-model="$store.state.modals.tradelink" max-width="700px">
            <AssignTradeLinkModal/>
        </v-dialog>
        <v-dialog v-if="$store.state.modals.sellSkin.isVisible" max-width="400"
                  v-model="$store.state.modals.sellSkin.isVisible">
            <SellSkinModal/>
        </v-dialog>
        <v-dialog max-width="300" v-model="$store.state.modals.postPayment">
            <PostPaymentModal :success="paymentSuccess"/>
        </v-dialog>
    </v-app>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Lifecycle, Watch} from 'av-ts';

    import GRecaptcha from './components/G-Recaptcha'

    import jc from 'js-cookie'
    import axios from 'axios'
    import FlexCenter from "./components/FlexCenter";
    import TopUpView from "./views/Modals/TopUpModal";
    import Skin from "./models/Skin";
    import AnimatedNumber from "./components/AnimatedNumber";
    import m from 'moment';
    import SellSkinModal from "./views/Modals/SellSkinModal";
    import AssignTradeLinkModal from "./views/Modals/AssignTradeLinkModal";
    import PostPaymentModal from "./views/Modals/PostPaymentModal";
    import LiveDrop from "./components/LiveDrop";
    import FAQView from "./views/FAQ";

    interface VNavigationDrawer {
        miniVariant: boolean
    }

    @Component({
        components: {
            FAQView,
            LiveDrop,
            PostPaymentModal,
            AssignTradeLinkModal,
            SellSkinModal,
            AnimatedNumber,
            TopUpView,
            FlexCenter,
            GRecaptcha
        }
    })
    export default class App extends Vue {
        isDrawerVisibleField = true; // v-model
        isDrawerMini: Boolean = true;
        languageGroupExpand = false;
        isDrawerExpanded = false; //virtual value

        language = 'ru';

        paymentSuccess = true;

        openReviews() {
            window.open('https://vk.com/topic-170028432_39031437');
        }

        async beforeMount() {
            let axiosSettings = {
                baseURL: this.$store.state.config.apiUrl
            };

            if (jc.get("token") != undefined) {
                axiosSettings["headers"] = {Token: jc.get("token")};
            }
            if (this.$route.query["token"] != undefined) {
                let token = this.$route.query["token"];
                jc.set("token", token);
                axiosSettings["headers"] = {Token: token}
                window.location.href = window.location.href.slice(0, window.location.href.indexOf('?'));
            }
            this.$store.state.isLogged = jc.get("token") != undefined;
            this.$store.state.axios = axios.create(axiosSettings);

            this.collapseDrawer();
            this.$i18n.locale = this.$store.state.language;
        }

        async mounted() {
            if (this.$route.query["payment"] != undefined) {
                this.$store.state.modals.postPayment = true;
                this.paymentSuccess = this.$route.query["payment"] == "success";
                window.location.href = window.location.href.replace((/\?payment=(success|error)&MERCHANT_ORDER_ID=.+&intid=.+/.exec(window.location.href)[0]), "");
            }
            if (this.$route.query["ref"] != undefined) {
                jc.set('ref', this.$route.query["ref"]);
                window.location.href = window.location.href.slice(0, window.location.href.indexOf('?'));
            }
            this.$store.state.VKWidget = window.VK.Widgets.CommunityMessages("vk_community_messages", 170028432, {
                expanded: "0",
                welcomeScreen: "0",
                tooltipButtonText: "Any question?",
                disableButtonTooltip: "1"
            });
            await this.$store.dispatch('getCasesInfo');
            this.$store.dispatch('getUpdates');
            this.$store.state.liveDropSkinsCount = Math.round((this.$vuetify.breakpoint.width - 300) / this.$store.state.liveDropSkinWidth + 3);
            this.$store.dispatch("preloadLiveDrop", this.$store.state.liveDropSkinsCount);
            let user = await this.$store.dispatch('getAccountInfo');
            if (user != null)
                this.changeLang(user.language);
        }

        transitionEntered() {
            window.scrollTo(0, 0)
        }

        /*Drawer work*/

        get isDrawerVisible() {
            return this.isDrawerVisibleField
        }

        set isDrawerVisible(val) {
            if (this.$vuetify.breakpoint.mdAndDown)
                this.isDrawerExpanded = val;
            else
                this.isDrawerExpanded = !this.isDrawerMini;
            this.isDrawerVisibleField = val;
        }

        menuButtonClick() {
            if (this.isDrawerExpanded)
                this.collapseDrawer();
            else
                this.expandDrawer();
        }

        expandDrawer() {
            if (this.$vuetify.breakpoint.mdAndDown) {
                this.isDrawerMini = false;
                this.isDrawerVisibleField = true
            } else {
                this.isDrawerVisibleField = true;
                this.isDrawerMini = false;
            }
            this.isDrawerExpanded = true;
        }

        collapseDrawer() {
            if (this.$vuetify.breakpoint.mdAndDown) {
                this.isDrawerMini = false;
                this.isDrawerVisibleField = false;
            } else {
                this.isDrawerVisibleField = true;
                this.isDrawerMini = true;
            }
            this.isDrawerExpanded = false;
        }

        /*Lang*/
        onRussianLangClick() {
            this.changeLang('ru');
            this.hideLangTile();
        }

        onEnglishLangClick() {
            this.changeLang('en');
            this.hideLangTile();
        }

        changeLang(lang: string) {
            this.language = lang;
            this.$store.state.axios.post("/user/changeLang", {lang: lang});
            this.$i18n.locale = lang;
            m.locale(lang);
        }

        hideLangTile() {
            this.languageGroupExpand = false;
        }
    };
</script>

<style>
    .livedrop{
        /*background-image: url("./assets/livedropbg.png");*/
        background-repeat: repeat-x;
        background-size: contain;

    }

    body::-webkit-scrollbar, aside::-webkit-scrollbar, div::-webkit-scrollbar {
        width: 0.8em;
    }

    body::-webkit-scrollbar-track, aside::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
        background-color: #313131;
        border: 0 solid #404040;
        border-left-width: 1em;
    }

    body::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
        background-color: #ff5454;
        outline: 1px solid slategrey;
        border-radius: 10px;
    }

    .left-drawer {
        height: 100px;
    }

    .right-slim-toolbar .v-toolbar__content {
        padding-right: 0;
    }

    .icon-holder-small {
        transition-duration: 200ms;
        border-radius: 80px;
        width: 58px;
        height: 58px;
    }

    .icon-holder-big {
        transition-duration: 200ms;
        border-radius: 80px;
        width: 78px;
        height: 78px;
    }

    .left-drawer-logged {
        height: 180px;
        background-image: url("./assets/drawer.png");
        background-size: cover;
    }

    .radial-highlight {
        height: 60px;
        background: radial-gradient(farthest-corner at 40px 160px, rgb(80, 80, 80) 0%, transparent 80%, transparent 100%);
    }

    .toolbar-without-padding .v-toolbar__content {
        padding: 0;
    }

    .login-button {
        height: 70px;
        margin-top: 20px;
        margin-left: -130px;
    }

    v-app {
        font-family: Intro;
    }

    .menuable__content__active {
        opacity: 1 !important;
        background-color: #212121 !important;
    }

    .v-tooltip__content {
        background-color: #212121 !important;
    }

    .blink {
        animation: blinker 1s ease-in infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.2;
        }
    }

    /*animations*/
    .fade-enter-active {
        transition: all .8s ease;
    }

    .fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(10px);
        opacity: 0;
    }

    .list-complete-item {
        transition: all 1s;
        display: inline-block;
    }

    .list-complete-enter {
        opacity: 0;
    }

    .list-complete-leave-to {
        transition: 0s;
        opacity: 0;
    }

    .list-complete-leave-active {
        position: absolute;
        opacity: 0;
    }

    .fade-fast-enter-active {
        transition: all .4s ease;
    }

    .fade-fast-leave-active {
        opacity: 0;
        transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .fade-fast-enter, .fade-fast-leave-to {
        opacity: 0;
    }
</style>

<style>
    .link {
        cursor: pointer;
        color: #FE5858;
    }

    @font-face {
        font-family: Intro;
        src: url("assets/fonts/Intro.otf") format("opentype");
    }
</style>
