.c-title-num{
    color:#FE5858!important;
}
.pay-i button{
    background-color:#FE5858!important;
    border-bottom-color: #b24242!important;
}

.pay li{
    background-color: #797979 !important;
    border-color: #373737!important;
}
.container{
    background-color: #3e3e3e!important;
}
.c-title-text{
    color:#FE5858!important;
}

.menu{
    background-color: #292929 !important;
}